/* clearfix */
/* center block */
/* center vertically */
/* clearfix */
/* respo */
.line-heading-wrap {
  color: #392a26;
  text-transform: uppercase;
  font-family: "avertablack";
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  position: relative;
  text-align: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .line-heading-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 80px;
    margin-left: 0;
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

.line-heading-wrap:before {
  content: "";
  position: absolute;
  background: #392a26;
  width: 160px;
  height: 8px;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.golf-hero-wrap {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

.golf-hero-wrap .golf-hero-slider .slider-content figure {
  position: relative;
  height: 860px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* &::before {
          background: rgba($black-color, 0.7);
          width: 100%;
          position: absolute;
          height: 100%;
          content: "";
          top: 0;
        } */
}

@media (max-width: 767px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figure {
    height: 650px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figure {
    height: 650px;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figure {
    height: 650px;
  }
}

.golf-hero-wrap .golf-hero-slider .slider-content figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.golf-hero-wrap .golf-hero-slider .slider-content figcaption {
  color: #fff;
  position: absolute;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 860px;
  margin: 0 auto;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figcaption {
    text-align: center;
    height: 650px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figcaption {
    height: 650px;
    top: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figcaption {
    height: 650px;
  }
}

.golf-hero-wrap .golf-hero-slider .slider-content figcaption h1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 60px;
  font-size: 3.75rem;
  font-family: "tragic_markerregular";
  /* Landscape phones and down */
  /* Landscape phones and down */
}

.golf-hero-wrap .golf-hero-slider .slider-content figcaption h1 span {
  color: #f9e200;
}

@media (max-width: 767px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figcaption h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .golf-hero-slider .slider-content figcaption h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.golf-hero-wrap .golf-hero-slider .slider-content figcaption p {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.golf-hero-wrap .golf-hero-slider .swiper-button-next:after {
  color: #fff;
}

.golf-hero-wrap .golf-hero-slider .swiper-button-prev:after {
  color: #fff;
}

.golf-hero-wrap .slider-feature-news {
  position: absolute;
  width: 100%;
  bottom: 50px;
  z-index: 99;
  padding-top: 0;
  padding-right: 130px;
  padding-bottom: 0;
  padding-left: 130px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-hero-wrap .slider-feature-news {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .slider-feature-news {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    bottom: 20px;
  }
}

.golf-hero-wrap .slider-feature-news .custom-card {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #fff;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-hero-wrap .slider-feature-news .custom-card {
    height: 120px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .slider-feature-news .custom-card {
    height: 120px;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .golf-hero-wrap .slider-feature-news .custom-card {
    height: 120px;
  }
}

.golf-hero-wrap .slider-feature-news .custom-card figure {
  width: 40%;
}

.golf-hero-wrap .slider-feature-news .custom-card figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
}

.golf-hero-wrap .slider-feature-news .custom-card figcaption {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.golf-hero-wrap .slider-feature-news .custom-card figcaption .categories {
  color: #dedede;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 12px;
  font-size: 0.75rem;
}

.golf-hero-wrap .slider-feature-news .custom-card figcaption .title {
  color: #392a26;
  font-family: "avertabold";
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-hero-wrap .slider-feature-news .custom-card figcaption .title {
    -webkit-line-clamp: 1;
  }
}

.golf-hero-wrap .slider-feature-news .custom-card figcaption .title:hover {
  color: #3ab3e5;
}

.golf-hero-wrap .slider-feature-news .custom-card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.golf-hero-wrap .slider-feature-news .custom-card:hover .arrow-icon {
  -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0);
}

.golf-hero-wrap .slider-feature-news .custom-card:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.golf-categories__card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  height: 420px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.golf-categories__card figure {
  height: 420px;
  position: relative;
}

.golf-categories__card figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.golf-categories__card figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* background: rgba($black-color, 0.7); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(57, 32, 48, 0.65)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(57, 32, 48, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.golf-categories__card figcaption h3 {
  color: #3ab3e5;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "avertabold";
}

.golf-categories__card figcaption P {
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
}

.golf-prizes__card {
  background-size: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border: 1px solid #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  justify-content: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-prizes__card {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-prizes__card {
    height: 420px;
  }
}

.golf-prizes__card figure {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.golf-prizes__card figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.golf-prizes__card figcaption h3 {
  font-family: "avertabold";
  font-size: 22px;
  font-size: 1.375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #3ab3e5;
}

.golf-prizes__card figcaption p {
  color: #392a26;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
}

.golf-prizes__card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: rgba(57, 42, 38, 0.7);
}

.golf-prizes__card:hover h3 {
  color: #fff;
}

.golf-prizes__card:hover p {
  color: #fff;
}

.golf-wrap {
  position: relative;
}

.golf-wrap::before {
  position: absolute;
  content: "";
  background: url(../images/side-blub-left.png) no-repeat;
  width: 80px;
  height: 351px;
  left: 0;
  top: 200px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap::before {
    display: none;
  }
}

.golf-wrap::after {
  position: absolute;
  content: "";
  background: url(../images/side-blub-right.png) no-repeat;
  width: 80px;
  height: 351px;
  right: 0;
  bottom: 300px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap::after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap::after {
    display: none;
  }
}

.golf-wrap .golf-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.golf-wrap .golf-nav__figure-holder {
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}

.golf-wrap .golf-nav__figure-holder img {
  width: 100%;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.golf-wrap .golf-nav__text {
  text-transform: capitalize;
  font-size: 22px;
  font-size: 1.375rem;
  color: #dedede;
  position: relative;
}

.golf-wrap .golf-nav__text::before {
  width: 0;
  content: "";
  background: #3ab3e5;
  height: 3px;
  bottom: -10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  position: absolute;
}

.golf-wrap .golf-nav__item-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-nav__item-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap .golf-nav__item-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    width: 40%;
  }
}

.golf-wrap .golf-nav__item-link.active .golf-nav__figure-holder {
  /*  background: $brand-color; */
  background: linear-gradient(135deg, #0a6989 0%, #29b5e4 100%);
}

.golf-wrap .golf-nav__item-link.active .golf-nav__figure-holder img {
  opacity: 10;
}

.golf-wrap .golf-nav__item-link.active .golf-nav__text {
  color: #3ab3e5;
  font-family: "avertabold";
}

.golf-wrap .golf-nav__item-link.active .golf-nav__text::before {
  width: 50px;
}

.golf-wrap .golf-nav__item-link:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.golf-wrap .golf-nav__item-link:hover .golf-nav__figure-holder {
  background: linear-gradient(135deg, #0a6989 0%, #29b5e4 100%);
}

.golf-wrap .golf-nav__item-link:hover .golf-nav__figure-holder img {
  opacity: 10;
}

.golf-wrap .golf-nav__item-link:hover .golf-nav__text {
  color: #3ab3e5;
}

.golf-wrap .golf-nav__item-link:hover .golf-nav__text::before {
  width: 50px;
}

.golf-wrap .golf-events-wrapper .filter-row {
  border: 1px solid #dedede;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.golf-wrap .golf-events-wrapper .filter-row .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.golf-wrap .golf-events-wrapper .filter-row .input-wrapper i::before {
  color: #3ab3e5;
}

.golf-wrap .golf-events-wrapper .filter-row .input-wrapper .form-control {
  background: none;
  border: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.golf-wrap .golf-events-wrapper .filter-row .filter-link {
  color: #392030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.golf-wrap .golf-events-wrapper .filter-row .filter-link:hover {
  background: #dedede;
}

.golf-wrap .golf-events-wrapper .months-separator {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.golf-wrap .golf-events-wrapper .months-separator::before {
  background: #dedede;
  height: 1px;
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.golf-wrap .golf-events-wrapper .months-separator h3 {
  color: #392a26;
  font-size: 22px;
  font-size: 1.375rem;
  background: #fff;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.golf-wrap .golf-events-wrapper .event-card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-events-wrapper .event-card {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.golf-wrap .golf-events-wrapper .event-card .event-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #392a26;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-events-wrapper .event-card .event-date {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.golf-wrap .golf-events-wrapper .event-card .event-date small {
  font-size: 18px;
  font-size: 1.125rem;
}

.golf-wrap .golf-events-wrapper .event-card .event-date span {
  font-family: "avertabold";
  font-size: 50px;
  font-size: 3.125rem;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #392a26;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__date {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__title {
  font-family: "avertabold";
  color: #392a26;
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: inline-block;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__title:hover {
  color: #3ab3e5;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__location {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 18px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-events-wrapper .event-card .event-caption__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__location strong {
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.golf-wrap .golf-events-wrapper .event-card .event-caption__desc {
  font-size: 18px;
  font-size: 1.125rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-events-wrapper .event-card .event-caption__desc {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.golf-wrap .golf-events-wrapper .event-card .figure-holder {
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.golf-wrap .golf-events-wrapper .event-card .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.golf-wrap .golf-events-wrapper .event-card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.golf-wrap .golf-events-wrapper .event-card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.golf-wrap .golf-events-wrapper .events-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item span {
  font-size: 18px;
  font-size: 1.125rem;
  color: #392a26;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item i::before {
  color: #3ab3e5;
  font-size: 20px;
  font-size: 1.25rem;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item:hover {
  background: #dedede;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item-prev:hover i {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.golf-wrap .golf-events-wrapper .events-footer-nav .item-next:hover i {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.golf-wrap .golf-tabs-wrapper .nav-tabs {
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #c4c4c44d;
  width: 40%;
  margin: 0 auto 50px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-tabs-wrapper .nav-tabs {
    width: 100%;
  }
}

.golf-wrap .golf-tabs-wrapper .nav-tabs .nav-item {
  width: 50%;
}

.golf-wrap .golf-tabs-wrapper .nav-tabs .nav-link {
  color: #3ab3e5;
  font-size: 16px;
  font-size: 1rem;
  border: 0;
  background: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  width: 100%;
}

.golf-wrap .golf-tabs-wrapper .nav-tabs .nav-link.active {
  background: #392a26;
  color: #fff;
}

.golf-wrap .leaderboard-wrap {
  border: 1px solid #dedede;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.golf-wrap .leaderboard-wrap header {
  background: #3ab3e5;
  color: #fff;
  font-family: "avertabold";
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.golf-wrap .leaderboard-wrap .table {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.golf-wrap .leaderboard-wrap .table-striped > tbody > tr:nth-of-type(odd) {
  background: rgba(58, 179, 229, 0.2);
}

.golf-wrap .golf-news .news-card-lg {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  height: 480px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.golf-wrap .golf-news .news-card-lg__figure-holder {
  height: 480px;
  position: relative;
  width: 100%;
}

.golf-wrap .golf-news .news-card-lg__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.golf-wrap .golf-news .news-card-lg__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  color: #fff;
  top: 0;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.golf-wrap .golf-news .news-card-lg__cate {
  color: #fff;
  background: #3ab3e5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
  font-size: 0.875rem;
}

.golf-wrap .golf-news .news-card-lg__title {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "avertabold";
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.golf-wrap .golf-news .news-card-lg:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: rgba(57, 42, 38, 0.7);
}

.golf-wrap .golf-news .news-card-lg:hover .news-card__title {
  color: #3ab3e5;
}

.golf-wrap .golf-news .news-card-sm {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.golf-wrap .golf-news .news-card-sm figure {
  height: 250px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.golf-wrap .golf-news .news-card-sm figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.golf-wrap .golf-news .news-card-sm .caption {
  background: rgba(58, 179, 229, 0.2);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.golf-wrap .golf-news .news-card-sm .caption__date {
  color: #392030;
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.golf-wrap .golf-news .news-card-sm .caption__desc {
  color: #392a26;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.golf-wrap .golf-news .news-card-sm .caption__desc:hover {
  color: #3ab3e5;
}

.golf-wrap .golf-news .news-card-sm .caption .readmore--link {
  margin-top: auto;
}

.golf-wrap .golf-news .news-card-sm:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.golf-wrap .golf-news .news-card-sm:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.golf-wrap .golf-news .news-card-sm:hover .arrow-icon {
  -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0);
}

.golf-wrap .golf-news .news-card-sm:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.golf-wrap .press-release .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .press-release .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .golf-wrap .press-release .title-head h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.golf-wrap .press-release__card {
  background: rgba(58, 179, 229, 0.2);
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  height: 200px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .press-release__card {
    height: auto;
  }
}

.golf-wrap .press-release__card figure {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  width: 50px;
  height: 50px;
}

.golf-wrap .press-release__card figure img {
  width: 100%;
}

.golf-wrap .press-release__card figcaption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.golf-wrap .press-release__card figcaption p {
  color: #392030;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.golf-wrap .press-release__card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #3ab3e5;
}

.golf-wrap .press-release__card:hover figcaption p {
  color: #fff;
}

.golf-wrap .about-golf-series figure {
  height: 550px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .about-golf-series figure {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap .about-golf-series figure {
    height: 350px;
  }
}

.golf-wrap .about-golf-series figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.golf-wrap .about-golf-series figcaption {
  background: #00a8a9;
  padding-top: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  position: relative;
  margin-left: -100px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .about-golf-series figcaption {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap .about-golf-series figcaption {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-left: 0;
  }
}

.golf-wrap .about-golf-series figcaption blockquote {
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  position: relative;
}

.golf-wrap .about-golf-series figcaption blockquote::before {
  content: open-quote;
  left: -31px;
}

.golf-wrap .about-golf-series figcaption blockquote:after {
  content: close-quote;
  bottom: -61px;
}

.golf-wrap .about-golf-series figcaption blockquote:before,
.golf-wrap .about-golf-series figcaption blockquote:after {
  color: #f9e200;
  font-size: 120px;
  font-size: 7.5rem;
  position: absolute;
  font-family: sans-serif;
}

.golf-wrap .about-golf-series figcaption span {
  color: #f9e200;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "avertabold";
}

.golf-wrap .golf-gallery .gallery-card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.golf-wrap .golf-gallery .gallery-card figure {
  height: 360px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.golf-wrap .golf-gallery .gallery-card figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.golf-wrap .golf-gallery .gallery-card h3 {
  color: #3ab3e5;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
}

.golf-wrap .golf-gallery .gallery-card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #fff;
}

.golf-wrap .golf-gallery .gallery-card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.golf-wrap .golf-gallery .imageslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.golf-wrap .golf-gallery .imageslist a {
  width: 20%;
  padding: 10px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .golf-wrap .golf-gallery .imageslist a {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .golf-wrap .golf-gallery .imageslist a {
    width: 33.33333%;
  }
}

.golf-wrap .golf-gallery .imageslist a :hover {
  opacity: 0.6;
}

.single-event-detail-wrap .figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  height: 340px;
}

.single-event-detail-wrap .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.single-event-detail-wrap .event-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #392a26;
}

.single-event-detail-wrap .event-caption__date {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.single-event-detail-wrap .event-caption__title {
  font-family: "avertabold";
  color: #392a26;
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: inline-block;
}

.single-event-detail-wrap .event-caption__title:hover {
  color: #3ab3e5;
}

.single-event-detail-wrap .event-caption__location {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 18px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .single-event-detail-wrap .event-caption__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.single-event-detail-wrap .event-caption__location strong {
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.single-event-detail-wrap .event-caption__desc {
  font-size: 18px;
  font-size: 1.125rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .single-event-detail-wrap .event-caption__desc {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.single-news-detail-wrap .figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  height: 340px;
}

.single-news-detail-wrap .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.single-news-detail-wrap .news-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #392a26;
}

.single-news-detail-wrap .news-caption__info {
  font-size: 18px;
  font-size: 1.125rem;
  color: #dedede;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.single-news-detail-wrap .news-caption__info span {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.single-news-detail-wrap .news-caption__title {
  font-family: "avertabold";
  color: #3ab3e5;
  font-size: 32px;
  font-size: 2rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: inline-block;
}

.single-news-detail-wrap .news-caption p {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .single-news-detail-wrap .news-caption p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.register-form {
  background: #00a8a9;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -100px;
  margin-left: 0;
  padding-top: 130px;
  padding-right: 0;
  padding-bottom: 230px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .register-form {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 130px;
    padding-left: 0;
  }
}

.register-form .form-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.register-form .form-group label {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #fff;
  text-transform: capitalize;
  font-family: "avertabold";
}

.gallery-row {
  -ms-grid-columns: 37% 37% 25%;
      grid-template-columns: 37% 37% 25%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .gallery-row {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.gallery-row figure {
  height: 350px;
}

.gallery-row figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}

.register-form-wrap {
  /**
--------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------
Gravity Forms Custom Styling
*/
  /* Hidden & Validation Forms */
  /* Icons */
  /* Buttons */
  /* Form Elements */
  /*
Events Showcase Custom CSS
*/
  /* Gravity Forms Styling, v .1 */
  /* Basics */
  /* Typography */
  /* Colors */
  /* Maroon */
  /* Radio & Checkboxes */
  /* Selects */
  /* HTML Field & Sections */
  /* Name Fields */
  /* Calendar */
  /* Time */
  /* Address */
  /* Email Address */
  /* File Upload */
  /* List */
  /* Product Fields */
  /* Error & Validation Messages */
  /* From Heading */
  /* Progress Bars & Paging */
  /* Credit Card */
  /* .gfield--width-full {
    position: relative;
  } */
}

.register-form-wrap li.gfield:after {
  content: "";
  display: table;
  clear: both;
}

.register-form-wrap li.gform_validation_container,
.register-form-wrap li.gform_hidden {
  position: absolute;
  left: -999em;
  visibility: hidden;
}

.register-form-wrap .hidden_label > label {
  position: absolute;
  left: -999em;
}

@font-face {
  .register-form-wrap {
    font-family: "icomoon";
    src: url("/wp-content/themes/dougfir/assets/fonts/icomoon.eot?pvuvir");
    src: url("/wp-content/themes/dougfir/assets/fonts/icomoon.eot?pvuvir#iefix") format("embedded-opentype"), url("/wp-content/themes/dougfir/assets/fonts/icomoon.ttf?pvuvir") format("truetype"), url("/wp-content/themes/dougfir/assets/fonts/icomoon.woff?pvuvir") format("woff"), url("/wp-content/themes/dougfir/assets/fonts/icomoon.svg?pvuvir#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

.register-form-wrap [class^="icon-"]:before,
.register-form-wrap [class*=" icon-"]:before,
.register-form-wrap article.hentry.sticky:before,
.register-form-wrap .icon-after:after,
.register-form-wrap .ls-nav-right a:before,
.register-form-wrap .ls-nav-left a:before,
.register-form-wrap .wc_payment_method label:before,
.register-form-wrap label[for="stripe-card-number"]:after,
.register-form-wrap label[for="stripe-card-cvc"]:after,
.register-form-wrap .ui-icon:after,
.register-form-wrap .ui-icon:before,
.register-form-wrap .gform_card_icon_container div:before,
.register-form-wrap .ginput_card_security_code_icon:before {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.register-form-wrap .icon:before {
  margin-right: 0.25em;
}

.register-form-wrap .icon-replacment:before {
  margin-right: 0;
}

.register-form-wrap .icon-search:before {
  content: "\e900";
}

.register-form-wrap .icon-pin:before,
.register-form-wrap article.hentry.sticky:before {
  content: "\e906";
}

.register-form-wrap .icon-google-plus:before {
  content: "\e901";
}

.register-form-wrap .icon-instagram:before {
  content: "\e902";
}

.register-form-wrap .icon-linkedin:before {
  content: "\e903";
}

.register-form-wrap .icon-facebook:before {
  content: "\e904";
}

.register-form-wrap .icon-twitter:before {
  content: "\e905";
}

.register-form-wrap .icon-rss:before {
  content: "\e907";
}

.register-form-wrap .icon-new-window:before,
.register-form-wrap .content .icon-new-window:after {
  content: "\e908";
}

.register-form-wrap .icon-pinterest:before {
  content: "\e604";
}

.register-form-wrap .icon-vimeo:before {
  content: "\e909";
}

.register-form-wrap .icon-youtube:before {
  content: "\e90a";
}

.register-form-wrap .icon-calendar:before {
  content: "\e918";
}

.register-form-wrap .icon-arrow-right:before,
.register-form-wrap .ls-nav-right a:before,
.register-form-wrap .ui-icon-circle-triangle-e:after {
  content: "\e994";
}

.register-form-wrap .icon-arrow-left:before,
.register-form-wrap .ls-nav-left a:before,
.register-form-wrap .ui-icon-circle-triangle-w:before {
  content: "\e995";
}

.register-form-wrap .icon-replacement,
.register-form-wrap .ls-nav-right a,
.register-form-wrap .ls-nav-left a,
.register-form-wrap .ui-icon-circle-triangle-e,
.register-form-wrap .ui-icon-circle-triangle-w {
  text-indent: -999em;
  overflow: hidden;
  display: block;
  position: relative;
}

.register-form-wrap .icon-replacement:before,
.register-form-wrap .ls-nav-right a:before,
.register-form-wrap .ls-nav-left a:before,
.register-form-wrap .ui-icon-circle-triangle-e:after,
.register-form-wrap .ui-icon-circle-triangle-w:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
  width: 100%;
  text-align: center;
}

.register-form-wrap button.icon-search.icon-replacement:before {
  width: auto;
}

.register-form-wrap .icon-after:before {
  content: "";
  display: none;
}

.register-form-wrap .icon-after:after {
  margin-left: 0.25em;
}

.register-form-wrap .button,
.register-form-wrap .button:visited,
.register-form-wrap .h nav li.button a,
.register-form-wrap button,
.register-form-wrap input[type="button"],
.register-form-wrap input[type="submit"],
.register-form-wrap input[type="reset"],
.register-form-wrap .menu-toggle {
  color: #392a26;
  font-size: 1em;
  background: #f9e300;
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  line-height: 1;
  -webkit-transition: background 500ms, color 500ms;
  transition: background 500ms, color 500ms;
  text-decoration: none;
  text-align: center;
}

.register-form-wrap .select2-container .select2-choice {
  background: #efefef !important;
  border: none !important;
  padding: 0.75em 1em !important;
}

.register-form-wrap .select2-display-none {
  padding-top: 0.5em !important;
}

.register-form-wrap .button.secondary-button,
.register-form-wrap input[type="reset"] {
  color: black;
  background: lightgrey;
}

.register-form-wrap .button:hover,
.register-form-wrap button:hover,
.register-form-wrap input[type="button"]:hover,
.register-form-wrap input[type="submit"]:hover,
.register-form-wrap input[type="reset"]:hover,
.register-form-wrap .menu-toggle:hover,
.register-form-wrap .h nav li.button a:hover {
  color: white;
  background: #392030;
  cursor: pointer;
  -webkit-transition: background 250ms, color 250ms;
  transition: background 250ms, color 250ms;
}

.register-form-wrap .sidebar .button {
  margin: 1em auto;
  display: block;
}

.register-form-wrap .content form {
  margin: 1em 0;
}

.register-form-wrap fieldset {
  padding: 0;
  margin-bottom: 20px;
  position: relative;
}

.register-form-wrap fieldset > * {
  padding-left: 0;
}

.register-form-wrap fieldset legend {
  padding-left: 0;
  font-size: calc(0.8rem + 0.3vw);
}

.register-form-wrap label {
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.register-form-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em;
  font-size: 1em;
}

.register-form-wrap select::-ms-expand {
  display: none;
}

.register-form-wrap option {
  padding: 0.25em 0.5em;
}

.register-form-wrap textarea,
.register-form-wrap select[multiple],
.register-form-wrap input[type="date"],
.register-form-wrap input[type="datetime"],
.register-form-wrap input[type="datetime-local"],
.register-form-wrap input[type="email"],
.register-form-wrap input[type="month"],
.register-form-wrap input[type="week"],
.register-form-wrap input[type="number"],
.register-form-wrap input[type="password"],
.register-form-wrap input[type="search"],
.register-form-wrap input[type="text"],
.register-form-wrap input[type="time"],
.register-form-wrap input[type="url"],
.register-form-wrap input[type="tel"],
.register-form-wrap input[type="time"] {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 1em;
  font-size: 1em;
  outline: none;
  background: #efefef;
}

.register-form-wrap select[multiple] {
  width: auto;
}

.register-form-wrap input[type="week"],
.register-form-wrap input[type="month"],
.register-form-wrap input[type="date"],
.register-form-wrap input[type="datetime"],
.register-form-wrap input[type="datetime-local"],
.register-form-wrap input[type="number"],
.register-form-wrap input[type="time"] {
  width: 5em;
  max-width: 100%;
}

.register-form-wrap input[type="checkbox"],
.register-form-wrap input[type="radio"] {
  display: inline-block;
  padding-top: 0;
  clear: left;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.register-form-wrap input[type="checkbox"] + label,
.register-form-wrap input[type="radio"] + label {
  display: inline-block;
  max-width: 95%;
  float: left;
}

.register-form-wrap input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.register-form-wrap textarea {
  min-height: 200px;
  width: 100%;
}

.register-form-wrap .tribe-events .tribe-events-c-search__button {
  background-color: #3ab3e5 !important;
}

.register-form-wrap .tribe-events-view {
  font-family: "avertaregular";
}

.register-form-wrap .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__nav {
  background: #f8f8f8 !important;
}

.register-form-wrap body .gform_wrapper .gform_validation_container {
  display: none;
}

.register-form-wrap .gform_wrapper:after,
.register-form-wrap .gform_wrapper li:after,
.register-form-wrap .gfield_html_formatted:after,
.register-form-wrap .clear-multi:after,
.register-form-wrap .gf_progressbar_wrapper:after,
.register-form-wrap .gform_page_footer:after,
.register-form-wrap .gf_page_steps:after {
  content: "";
  display: table;
  clear: both;
}

.register-form-wrap .gform_wrapper {
  padding: 30px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: -50px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .register-form-wrap .gform_wrapper {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .register-form-wrap .gform_wrapper {
    margin-top: 0;
  }
}

.register-form-wrap .gform_wrapper ul {
  padding: 0;
  list-style: none;
}

.register-form-wrap .gform_wrapper li {
  padding: 0.5em 0;
}

.register-form-wrap .gform_wrapper .small,
.register-form-wrap .small + .ginput_counter,
.register-form-wrap .small + .chosen-container-multi {
  width: 20% !important;
  max-width: 100%;
}

.register-form-wrap .gform_wrapper .medium,
.register-form-wrap .medium + .ginput_counter,
.register-form-wrap .medium + .chosen-container-multi {
  width: 100% !important;
  max-width: 100%;
}

.register-form-wrap .gform_wrapper .large,
.register-form-wrap .large + .ginput_counter,
.register-form-wrap .large + .chosen-container-multi {
  width: 100% !important;
  max-width: 100%;
}

@media (max-width: 767px) {
  .register-form-wrap .gform_wrapper .small,
  .register-form-wrap .small + .ginput_counter,
  .register-form-wrap .small + .chosen-container-multi {
    width: 40% !important;
    max-width: 100%;
  }
  .register-form-wrap .gform_wrapper .medium,
  .register-form-wrap .medium + .ginput_counter,
  .register-form-wrap .medium + .chosen-container-multi {
    width: 100% !important;
    max-width: 100%;
  }
  .register-form-wrap .gform_wrapper .large,
  .register-form-wrap .large + .ginput_counter,
  .register-form-wrap .large + .chosen-container-multi {
    width: 100% !important;
    max-width: 100%;
  }
}

.register-form-wrap .ginput_counter {
  padding-top: 0.25em;
}

.register-form-wrap .gfield_required {
  padding: 0 0.2em;
}

.register-form-wrap .gfield_description {
  padding: 0.25em 0.25em 0 0.25em;
  clear: both;
}

.register-form-wrap .field_description_above .gfield_description {
  padding: 0.75em 0.25em;
}

.register-form-wrap .field_sublabel_above.field_description_above
.gfield_description
+ .clear-multi
label {
  padding-top: 0;
}

@media (max-width: 767px) {
  .register-form-wrap li.gfield {
    max-width: 100%;
    overflow-x: scroll;
  }
}

.register-form-wrap .gfield_total label {
  font-size: 1.75em;
}

.register-form-wrap .ginput_container_total,
.register-form-wrap h3.gf_progressbar_title,
.register-form-wrap .ginput_container_post_title {
  font-size: 1.5em;
}

.register-form-wrap h3.gf_progressbar_title {
  font-size: 1em;
}

.register-form-wrap .ginput_counter,
.register-form-wrap .ginput_complex span label,
.register-form-wrap .ginput_container_fileupload .screen-reader-text,
.register-form-wrap .instruction,
.register-form-wrap .ui-datepicker-title select {
  font-size: 0.9em;
}

.register-form-wrap .gfield_description,
.register-form-wrap .gfield .instruction {
  font-style: italic;
}

.register-form-wrap .gfield_label,
.register-form-wrap .gfield_required,
.register-form-wrap .ginput_product_price_label,
.register-form-wrap .ginput_product_price,
.register-form-wrap input:checked + label,
.register-form-wrap td.ui-datepicker-today a,
.register-form-wrap .gfield_description.validation_message,
.register-form-wrap .ginput_shipping_price,
.register-form-wrap h3.gf_progressbar_title {
  font-weight: normal;
}

.register-form-wrap .ginput_counter {
  text-align: right;
}

.register-form-wrap .ginput_counter {
  line-height: 1;
}

.register-form-wrap .gfield_required,
.register-form-wrap .warningTextareaInfo,
.register-form-wrap ul.chosen-results li.no-results,
.register-form-wrap .ginput_container_fileupload span.screen-reader-text + div {
  color: #bf0421;
}

.register-form-wrap .ginput_product_price_label,
.register-form-wrap .ginput_product_price,
.register-form-wrap .ginput_container_total {
  color: green;
}

.register-form-wrap select[multiple] + .chosen-container li.result-selected,
.register-form-wrap td.ui-datepicker-current-day a.ui-state-active,
.register-form-wrap ul.chosen-results li.active-result.result-selected {
  background: black;
  color: white;
}

.register-form-wrap .gfield_checkbox li label,
.register-form-wrap .gfield_radio li label {
  padding-top: 0;
  top: -0.15em;
  position: relative;
}

.register-form-wrap .gfield_radio input[type="radio"] + input[type="text"] {
  float: left;
  display: inline-block;
  width: 10em;
  top: -0.75em;
  position: relative;
  margin-left: 0.25em;
}

.register-form-wrap .ginput_container_select {
  position: relative;
  display: inline;
  z-index: 99;
}

.register-form-wrap .ginput_container_select.chosen-after {
  display: inline-block;
}

.register-form-wrap .ginput_container_select.chosen-after:after {
  top: 1.3em;
}

.register-form-wrap .ginput_container_select:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

.register-form-wrap .ginput_container_select:after {
  /*  border-left: 5px solid transparent;
    border-right: 5px solid transparent; */
  top: 0.3em;
  right: 0.75em;
  border-top: 0;
  opacity: 0.5;
}

.register-form-wrap .ginput_container_select select {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.register-form-wrap .chosen-container {
  position: relative;
}

.register-form-wrap li.gfield a.chosen-single span,
.register-form-wrap li.gfield .chosen-container-multi .search-choice span {
  color: black;
  position: absolute;
  display: block;
  left: 1em;
  top: 0.85em;
}

.register-form-wrap ul.chosen-results {
  display: none;
  border: 3px solid #efefef;
  background: white;
  top: -0.3em;
  position: relative;
  padding: 0 !important;
  max-height: 11.75em;
  overflow: scroll;
}

.register-form-wrap .chosen-container-multi ul.chosen-results {
  top: -1em;
  left: 1em;
  width: 15em;
  max-width: 90%;
}

.register-form-wrap ul.chosen-results li.active-result {
  padding: 0.5em 0.75em;
}

.register-form-wrap ul.chosen-results li.active-result:hover {
  background: #efefef;
}

.register-form-wrap select[multiple] + .chosen-container li.result-selected {
  padding-left: 0.75em;
}

.register-form-wrap select[multiple] + .chosen-container.chosen-container-active li.search-field {
  display: none;
}

.register-form-wrap ul.chosen-results li.active-result.result-selected.gf_placeholder {
  background: transparent;
  color: black;
}

.register-form-wrap ul.chosen-results li.no-results {
  padding: 0.5em 0.75em;
  font-style: italic;
}

.register-form-wrap .chosen-container-active ul.chosen-results {
  display: block;
}

.register-form-wrap .chosen-container-active a.chosen-single span {
  visibility: hidden;
}

.register-form-wrap .chosen-container-multi .search-choice span {
  top: 2em;
  left: 2em;
}

.register-form-wrap .chosen-container-multi li.search-choice {
  position: relative;
  top: 2.5em;
}

.register-form-wrap .chosen-container-multi .search-field input {
  overflow-x: hidden;
}

.register-form-wrap .ginput_container_multiselect select {
  height: 8em;
  overflow: scroll;
}

.register-form-wrap .ginput_container_multiselect select.small {
  height: 6.5em;
}

.register-form-wrap .ginput_container_multiselect select.large {
  height: 12em;
}

.register-form-wrap .small + .chosen-container-multi .search-field input,
.register-form-wrap .medium + .chosen-container-multi .search-field input,
.register-form-wrap .large + .chosen-container-multi .search-field input {
  width: 100%;
}

.register-form-wrap select[multiple] + .chosen-container li.search-field input {
  width: 100% !important;
}

.register-form-wrap select[multiple]
+ .chosen-container-multi
ul.chosen-choices
li.search-choice {
  position: relative;
  left: 90%;
  padding-bottom: 1em;
}

.register-form-wrap .gfield_html_formatted {
  margin-bottom: 1em;
}

.register-form-wrap li.gsection {
  margin-top: 2em;
}

.register-form-wrap .ginput_complex span label {
  padding: 0.25em 0 0.75em 0.25em;
}

.register-form-wrap span.name_first,
.register-form-wrap span.name_last,
.register-form-wrap span.name_middle,
.register-form-wrap span.name_prefix,
.register-form-wrap span.name_suffix {
  width: 49%;
  float: left;
}

.register-form-wrap span.name_first {
  margin-right: 1%;
}

.register-form-wrap span.name_last {
  margin-left: 1%;
}

.register-form-wrap .no_prefix.no_middle_name.no_last_name.no_suffix span.name_first label,
.register-form-wrap .no_prefix.no_middle_name.no_first_name.no_suffix span.name_last label {
  display: none;
}

.register-form-wrap .no_prefix.no_middle_name.no_first_name.no_suffix span.name_last {
  margin-left: 0;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_first {
  width: 40%;
  margin-right: 1%;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_middle {
  width: 18%;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_last {
  width: 40%;
  margin-left: 1%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_prefix {
  width: 10%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_first {
  width: 39%;
  margin-right: 1%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_middle {
  width: 10%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_last {
  width: 39%;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_first {
  width: 38.5%;
  margin-right: 1%;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_middle {
  width: 10%;
  margin-right: 1%;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_last {
  width: 38.5%;
  margin-left: 0;
}

.register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_suffix {
  width: 10%;
  margin-left: 1%;
}

.register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_prefix {
  width: 10%;
}

.register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_first {
  width: 39%;
  margin-right: 1%;
}

.register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_last {
  width: 39%;
  margin-left: 0;
}

.register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_suffix {
  width: 10%;
  margin-left: 1%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_prefix {
  width: 10%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_first {
  width: 33.5%;
  margin-right: 1%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_middle {
  width: 10%;
  margin-right: 1%;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_last {
  width: 33.5%;
  margin-left: 0;
}

.register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_suffix {
  width: 10%;
  margin-left: 1%;
}

@media (max-width: 767px) {
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_prefix {
    width: 20%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_first {
    width: 40%;
    margin-right: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_middle {
    clear: left;
    width: 20%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
span.name_last {
    width: 40%;
  }
  .register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_first {
    width: 40%;
    margin-right: 1%;
  }
  .register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_middle {
    width: 20%;
    margin-right: 1%;
  }
  .register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_last {
    clear: left;
    width: 40%;
    margin-left: 0;
  }
  .register-form-wrap .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_suffix {
    width: 20%;
    margin-left: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_prefix {
    width: 20%;
  }
  .register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_first {
    width: 40%;
    margin-right: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_last {
    width: 40%;
    clear: left;
    margin-left: 0;
  }
  .register-form-wrap .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
span.name_suffix {
    width: 20%;
    margin-left: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_prefix {
    width: 20%;
    margin-right: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_first {
    width: 40%;
    margin-right: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_middle {
    clear: left;
    width: 20%;
    margin-right: 1%;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_last {
    width: 40%;
    margin-left: 0;
  }
  .register-form-wrap .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
span.name_suffix {
    width: 20%;
    margin-left: 1%;
  }
}

.register-form-wrap .field_sublabel_above span label {
  padding-bottom: 0;
}

.register-form-wrap .ui-datepicker .ui-icon {
  position: relative;
}

.register-form-wrap a.ui-datepicker-prev,
.register-form-wrap a.ui-datepicker-next {
  float: left;
  width: 1em;
  height: 1em;
  margin-top: 0.45em;
}

.register-form-wrap a.ui-datepicker-next {
  float: right;
}

.register-form-wrap #ui-datepicker-div {
  background: white;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.register-form-wrap table.ui-datepicker-calendar th,
.register-form-wrap table.ui-datepicker-calendar td {
  padding: 0.25em;
}

.register-form-wrap a.ui-datepicker-next.ui-corner-all {
  float: right;
}

.register-form-wrap .ui-datepicker-title {
  text-align: center;
}

.register-form-wrap .ui-datepicker-title select {
  padding: 0.5em 1em;
  margin: 0 0.15em;
}

.register-form-wrap td.ui-datepicker-week-end {
  background: #efefef;
}

.register-form-wrap table.ui-datepicker-calendar td {
  padding: 0.25em;
  text-align: center;
}

.register-form-wrap select[multiple] + .chosen-container li.result-selected {
  padding-left: 0.75em;
  background: black;
  color: white;
}

.register-form-wrap td.ui-datepicker-current-day a.ui-state-active {
  display: block;
  border-radius: 50%;
  width: 1.5em;
}

.register-form-wrap input.datepicker_with_icon + img {
  width: 1.5em;
  position: relative;
  left: 0.5em;
  top: 0.25em;
}

.register-form-wrap .ginput_container_time {
  float: left;
}

.register-form-wrap .ginput_container_time i {
  font-style: normal;
  display: inline-block;
  padding: 0 0.25em 0 0;
}

.register-form-wrap .gfield_time_ampm {
  margin-left: 1%;
}

.register-form-wrap span.address_city,
.register-form-wrap span.address_state,
.register-form-wrap span.address_zip {
  float: left;
  width: 32%;
  margin-right: 1%;
}

.register-form-wrap span.address_city {
  width: 34%;
}

.register-form-wrap span.address_zip {
  margin-right: 0;
}

.register-form-wrap .address_state select {
  width: 100%;
}

@media (max-width: 767px) {
  .register-form-wrap span.address_city {
    width: 100%;
    float: none;
  }
  .register-form-wrap span.address_city input {
    width: 80%;
  }
  .register-form-wrap span.address_state,
  .register-form-wrap span.address_zip {
    width: 49%;
  }
}

.register-form-wrap .ginput_container_email > span {
  float: left;
  width: 49.5%;
  margin-right: 0.5%;
}

.register-form-wrap .ginput_container_email span.ginput_right {
  margin-left: 0.5%;
  margin-right: 0;
}

.register-form-wrap .ginput_container_fileupload {
  background: #efefef;
  padding: 0.75em;
  border-radius: 3px;
}

.register-form-wrap .ginput_container_fileupload .screen-reader-text {
  display: inline;
}

.register-form-wrap .ginput_container_fileupload > div:first-of-type {
  text-align: center;
  padding: 2em 0;
  border: 3px dashed #ddd;
}

.register-form-wrap span.gform_drop_instructions {
  display: block;
  margin: 0 0 1em 0;
}

.register-form-wrap .ginput_container_fileupload > div + span.screen-reader-text {
  display: block;
  text-align: center;
  margin: 1em 0 0 0;
}

.register-form-wrap .ginput_container_fileupload span.screen-reader-text + div li {
  padding: 0.25em 0 0 0;
}

@media (max-width: 767px) {
  .register-form-wrap .ginput_container_fileupload .screen-reader-text {
    display: block;
    font-size: 0.7em;
    padding: 1em 0.75em;
  }
  .register-form-wrap span.gform_drop_instructions {
    display: none;
  }
}

.register-form-wrap td.gfield_list_icons img {
  position: relative;
  top: 1em;
  opacity: 1 !important;
}

.register-form-wrap .field_description_above .gfield_description + .ginput_container_list {
  margin-top: -1.5em;
}

.register-form-wrap .ginput_container_singleproduct .ginput_product_price_label {
  padding-left: 1em;
}

.register-form-wrap span.ginput_quantity_label {
  margin-left: 1em;
}

.register-form-wrap .instruction {
  padding: 0.5em 0.35em;
}

.register-form-wrap .ginput_shipping_price {
  padding: 1em;
  display: block;
}

.register-form-wrap .ginput_container_total {
  display: block;
  margin-left: 0.35em;
}

.register-form-wrap .validation_error,
.register-form-wrap .gform_validation_error li.gfield_error {
  background: #bf0421;
  /* Maroon */
  color: white;
  padding: 0 1em 1em 1em;
  margin: 1em 0;
  border-radius: 3px;
}

.register-form-wrap .validation_error {
  padding-top: 1em;
}

.register-form-wrap .gfield_description.validation_message {
  position: absolute;
  top: 0.75em;
  left: 1em;
  background: red;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  color: white;
  font-size: 12px;
  font-style: normal;
}

.register-form-wrap .gfield_description.validation_message:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  left: 1em;
  border-top: 5px solid red;
}

.register-form-wrap .gform_wrapper li.gfield_error {
  position: relative;
  margin-top: 3em;
}

.register-form-wrap .gfield_error .ginput_container_select:after {
  display: none;
}

.register-form-wrap .gfield_error .warningTextareaInfo {
  color: white;
}

.register-form-wrap .gfield_error .ginput_container_fileupload {
  color: black;
}

.register-form-wrap .gfield_error img.add_list_item {
  background-color: white;
  border-radius: 50%;
}

.register-form-wrap .gform_heading .gform_description {
  padding: 1em 0;
  display: block;
}

.register-form-wrap .gf_progressbar {
  position: relative;
  border-top: 5px solid #efefef;
}

.register-form-wrap .gf_progressbar_percentage {
  color: white;
  border-top: 5px solid #4480c3;
  position: relative;
  top: -5px;
  text-align: right;
}

.register-form-wrap .gf_progressbar_percentage span {
  background: black;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.75;
  border-radius: 3px;
  border-top-right-radius: 0;
  font-size: 0.9em;
  margin-top: 0.25em;
  position: relative;
  text-align: center;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_0 span {
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}

.register-form-wrap .gf_progressbar_percentage span:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 0 solid transparent;
  top: -5px;
  right: 0;
  border-bottom: 5px solid black;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_0 span:after {
  right: auto;
  left: 0;
  border-right: 5px solid transparent;
  border-left: 0;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_red {
  border-color: #bf0421;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_green {
  border-color: green;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_gray {
  border-color: #666;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_orange {
  border-color: #e8641b;
}

.register-form-wrap .gf_progressbar_percentage.percentbar_custom {
  border-color: transparent;
}

.register-form-wrap .gf_progressbar_wrapper + .gform_body .gform_page_footer {
  padding-top: 2em;
}

.register-form-wrap .gform_next_button {
  float: right;
}

.register-form-wrap div.gform_confirmation_message {
  background: green;
  color: white;
  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;
}

.register-form-wrap body img.gform_ajax_spinner {
  display: block;
  margin: 1em auto;
}

.register-form-wrap .gf_page_steps {
  display: table;
  width: 100%;
}

.register-form-wrap .gf_page_steps > div {
  padding: 0.25em;
  display: table-cell;
  color: white;
  background: black;
  vertical-align: top;
  font-weight: bold;
}

.register-form-wrap .gf_page_steps > div.gf_step_pending {
  background: #efefef;
  color: #666;
}

.register-form-wrap .gf_step_clear {
  display: none !important;
}

.register-form-wrap span.gf_step_number {
  background: white;
  color: black;
  display: inline-block;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  line-height: 2;
}

@media (max-width: 767px) {
  .register-form-wrap .gf_step {
    text-align: center;
  }
  .register-form-wrap .gf_step span {
    clear: both;
    display: block;
    margin: 0 auto;
  }
  .register-form-wrap span.gf_step_number {
    margin-top: 0.5em;
  }
  .register-form-wrap span.gf_step_label {
    margin-top: -1em;
  }
}

.register-form-wrap .ginput_container_creditcard {
  background: #efefef;
  padding: 2em;
  border-radius: 5px;
}

.register-form-wrap .ginput_container_creditcard input,
.register-form-wrap .ginput_container_creditcard select {
  background: white;
}

.register-form-wrap .gform_card_icon_container div {
  font-size: 2em;
  float: left;
  text-indent: -99em;
  position: relative;
  display: block;
}

.register-form-wrap .gform_card_icon_container div:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
}

.register-form-wrap .gform_card_icon_container div {
  font-size: 2em;
  float: left;
  text-indent: -99em;
  position: relative;
  display: block;
  width: 1.5em;
  color: #666;
}

.register-form-wrap .ginput_card_security_code_icon:before {
  content: "\e911";
}

.register-form-wrap .icon-cc-paypal:before {
  content: "\e913";
}

.register-form-wrap .gform_card_icon_amex:before {
  content: "\e914";
}

.register-form-wrap .gform_card_icon_discover:before {
  content: "\e915";
}

.register-form-wrap .gform_card_icon_mastercard:before {
  content: "\e916";
}

.register-form-wrap .gform_card_icon_visa:before {
  content: "\e917";
}

.register-form-wrap .ginput_cardinfo_left,
.register-form-wrap .ginput_cardinfo_right {
  float: left;
}

.register-form-wrap .ginput_cardinfo_right {
  margin-left: 1em;
}

.register-form-wrap span.ginput_card_security_code_icon {
  font-size: 1.5em;
  float: left;
  color: #666;
}

.register-form-wrap .gfield_creditcard_warning_message {
  background: #bf0421;
  color: white;
  padding: 1em 0.75em;
  border-radius: 3px;
}

.register-form-wrap .gfield_error .ginput_container_creditcard label {
  color: black;
}

.register-form-wrap .ginput_container_creditcard .ginput_full {
  clear: both;
  display: block;
}

.register-form-wrap .field_sublabel_above
.ginput_container_creditcard
.ginput_full:first-of-type {
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .register-form-wrap .ginput_container_creditcard {
    padding: 1em;
  }
  .register-form-wrap .ginput_cardinfo_right {
    width: 40%;
  }
}

.register-form-wrap .gfield--width-half {
  /*  width: 50%;
    float: left; */
  padding: 0 0 0 0;
  position: relative;
}

.register-form-wrap .gform_validation_container {
  display: none;
}

.register-form-wrap .gfield_description {
  margin-bottom: 20px;
}

.register-form-wrap .ginput_container {
  margin-bottom: 20px;
}

.register-form-wrap .nice-select {
  background: #efefef !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 60px !important;
  margin-bottom: 20px;
}

.register-form-wrap .nice-select span.current {
  margin-top: 7px;
  display: block;
}

.register-form-wrap .nice-select::before {
  top: 20px;
}

.register-form-wrap .nice-select::after {
  top: 30px;
}

.register-form-wrap .nice-select .list {
  padding: 0 20px !important;
  height: 200px;
  overflow-y: scroll;
  background-color: #efefef !important;
}

.register-form-wrap .gform_submission_error {
  color: red;
  font-size: 16px;
}

.register-form-wrap .gform_validation_errors {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.register-form-wrap .gfield_contains_required {
  position: relative;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__nav {
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=golf.css.map */