@import "partials/variables", "partials/mixins", "partials/layout";
.line-heading-wrap {
  color: $dark-brown-color;
  text-transform: uppercase;
  font-family: $font-avertablack-en;
  @include font-size(40px);
  @include margin(0, 0, 100px, 0);
  position: relative;
  text-align: center;

  @include breakpoint(sm) {
    @include margin(0, 0, 80px, 0);
    @include font-size(25px);
  }

  &:before {
    content: "";
    position: absolute;
    background: $dark-brown-color;
    width: 160px;
    height: 8px;
    bottom: -40px;
    left: 50%;
    @include transform(translateX(-50%));
    @include border-radius(15px);
  }
}

.golf-hero-wrap {
  position: relative;
  @include margin(0, 0, 50px, 0);
  .golf-hero-slider {
    .slider-content {
      figure {
        position: relative;
        height: 860px;

        @include breakpoint(sm) {
          height: 650px;
        }
        @include breakpoint(md) {
          height: 650px;
        }
        @include breakpoint(lp) {
          height: 650px;
        }

        /* &::before {
          background: rgba($black-color, 0.7);
          width: 100%;
          position: absolute;
          height: 100%;
          content: "";
          top: 0;
        } */
        img {
          @include object-fit;
        }
      }
      figcaption {
        color: $white-color;
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
        height: 860px;
        margin: 0 auto;

        @include breakpoint(sm) {
          text-align: center;
          height: 650px;
        }
        @include breakpoint(md) {
          height: 650px;
          top: 100px;
        }
        @include breakpoint(lp) {
          height: 650px;
        }

        h1 {
          @include margin(0, 0, 30px, 0);
          @include font-size(60px);
          font-family: "tragic_markerregular";
          span {
            color: $brand-second-color;
          }
          @include breakpoint(sm) {
            @include font-size(40px);
          }
          @include breakpoint(md) {
            @include font-size(40px);
          }
        }
        p {
          @include font-size(18px);
          @include margin(0, 0, 30px, 0);
        }
      }
    }

    .swiper-button-next {
      &:after {
        color: $white-color;
      }
    }
    .swiper-button-prev {
      &:after {
        color: $white-color;
      }
    }
  }
  .slider-feature-news {
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 99;
    @include padding(0, 130px, 0, 130px);

    @include breakpoint(sm) {
      @include padding(0, 20px, 0, 20px);
      bottom: 20px;
    }
    @include breakpoint(md) {
      @include padding(0, 30px, 0, 30px);
      bottom: 20px;
    }

    .custom-card {
      @include transition;
      @include border-radius(10px);
      background: $white-color;
      height: 150px;
      display: flex;
      @include margin(10px, 10px, 10px, 10px);

      @include breakpoint(sm) {
        height: 120px;
      }
      @include breakpoint(md) {
        height: 120px;
      }
      @include breakpoint(lp) {
        height: 120px;
      }
      figure {
        width: 40%;
        img {
          @include object-fit;
          object-position: center;
          @include border-radius(10px 0 0 10px);
        }
      }
      figcaption {
        @include padding(20px, 20px, 20px, 20px);
        @include flex-center-horiz;
        width: 60%;
        flex-direction: column;
        .categories {
          color: $light-grey-color;
          @include margin(0, 0, 5px, 0);
          @include font-size(12px);
        }
        .title {
          color: $dark-brown-color;
          font-family: $font-secondary-en;
          @include font-size(14px);
          @include margin(0, 0, 10px, 0);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;

          @include breakpoint(md) {
            -webkit-line-clamp: 1;
          }

          &:hover {
            color: $brand-color;
          }
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        .arrow-icon {
          transform: translate3d(15px, 0, 0);
        }
        .arrow-icon--circle {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}

.golf-categories {
  &__card {
    @include margin(0, 0, 30px, 0);
    height: 420px;
    position: relative;
    @include border-radius(10px);
    figure {
      height: 420px;
      position: relative;
      img {
        @include object-fit;
        @include border-radius(10px);
      }
    }
    figcaption {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      height: 100%;
      justify-content: flex-end;
      @include padding(0, 40px, 40px, 40px);
      /* background: rgba($black-color, 0.7); */
      @include border-radius(10px);
      background: -moz-linear-gradient(
        bottom,
        rgba(57, 32, 48, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        bottom,
        rgba(57, 32, 48, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to top,
        rgba(57, 32, 48, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      h3 {
        color: $brand-color;
        @include margin(0, 0, 10px, 0);
        @include font-size(24px);
        font-family: $font-secondary-en;
      }
      P {
        color: $white-color;
        @include font-size(16px);
        line-height: 22px;
      }
    }
  }
}
.golf-prizes {
  &__card {
    background-size: $white-color;
    @include border-radius(10px);
    @include padding(40px, 40px, 40px, 40px);
    border: 1px solid #c4c4c4;
    @include transition();
    @include margin(0, 0, 30px, 0);
    height: 360px;
    display: flex;
    /*  justify-content: center; */
    flex-direction: column;
    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: 420px;
    }
    figure {
      @include margin(0, 0, 50px, 0);
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @include object-fit;
      }
    }
    figcaption {
      h3 {
        font-family: $font-secondary-en;
        @include font-size(22px);
        @include margin(0, 0, 20px, 0);
        color: $brand-color;
      }
      p {
        color: $dark-brown-color;
        @include font-size(16px);
        line-height: 22px;
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      background: rgba($dark-brown-color, 0.7);
      h3 {
        color: $white-color;
      }
      p {
        color: $white-color;
      }
    }
  }
}

.golf-wrap {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/side-blub-left.png) no-repeat;
    width: 80px;
    height: 351px;
    left: 0;
    top: 200px;
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
  }
  &::after {
    position: absolute;
    content: "";
    background: url(../images/side-blub-right.png) no-repeat;
    width: 80px;
    height: 351px;
    right: 0;
    bottom: 300px;
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
  }
  .golf-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @include flex-center-horiz;

    @include breakpoint(sm) {
      grid-template-columns: auto;
      flex-direction: column;
    }
    &__figure-holder {
      width: 85px;
      height: 85px;
      @include flex-center;
      @include margin(0, 0, 20px, 0);
      @include padding(15px, 15px, 15px, 15px);
      @include border-radius(16px);
      img {
        width: 100%;
        opacity: 0.2;
        @include transition;
      }
    }
    &__text {
      text-transform: capitalize;
      @include font-size(22px);
      color: $light-grey-color;
      position: relative;
      &::before {
        width: 0;
        content: "";
        background: $brand-color;
        height: 3px;
        bottom: -10px;
        @include transition();
        left: 0;
        position: absolute;
      }
    }

    &__item-link {
      flex-direction: column;
      width: 25%;
      @include flex-center;
      @include padding(30px, 30px, 30px, 30px);
      @include margin(0, 0, 30px, 0);
      @include transition();
      @include border-radius(10px);

      @include breakpoint(sm) {
        @include margin(0, 0, 10px, 0);
        width: 100%;
      }
      @include breakpoint(md) {
        @include margin(0, 0, 10px, 0);
        width: 40%;
      }

      &.active {
        .golf-nav__figure-holder {
          /*  background: $brand-color; */
          background: -moz-linear-gradient(
            -45deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );
          background: -webkit-linear-gradient(
            -45deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );
          background: linear-gradient(
            135deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );

          img {
            opacity: 10;
          }
        }
        .golf-nav__text {
          color: $brand-color;
          font-family: $font-secondary-en;

          &::before {
            width: 50px;
          }
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        .golf-nav__figure-holder {
          background: -moz-linear-gradient(
            -45deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );
          background: -webkit-linear-gradient(
            -45deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );
          background: linear-gradient(
            135deg,
            rgba(10, 105, 137, 1) 0%,
            rgba(41, 181, 228, 1) 100%
          );
          img {
            opacity: 10;
          }
        }
        .golf-nav__text {
          color: $brand-color;
          &::before {
            width: 50px;
          }
        }
      }
    }
  }
  .golf-events-wrapper {
    .filter-row {
      border: 1px solid $light-grey-color;
      @include border-radius(3px);
      @include padding(10px, 20px, 10px, 20px);
      @include margin(0, 0, 30px, 0);

      .input-wrapper {
        @include flex-center-vert;
        i {
          &::before {
            color: $brand-color;
          }
        }
        .form-control {
          background: none;
          border: 0;
          box-shadow: none !important;
        }
      }
      .filter-link {
        color: $dark-grey-color;
        @include flex-center;
        height: 50px;
        &:hover {
          background: $light-grey-color;
        }
      }
    }
    .months-separator {
      @include margin(0, 0, 30px, 0);
      position: relative;
      height: 50px;
      @include flex-center-vert;
      &::before {
        background: $light-grey-color;
        height: 1px;
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
      }
      h3 {
        color: $dark-brown-color;
        @include font-size(22px);
        background: $white-color;
        @include padding(0, 20px, 0, 20px);
      }
    }
    .event-card {
      @include border-radius(10px);
      @include padding(30px, 30px, 30px, 30px);
      @include margin(0, 0, 30px, 0);
      @include transition();

      @include breakpoint(sm) {
        @include padding(20px, 20px, 20px, 20px);
      }

      .event-date {
        @include flex-center;
        flex-direction: column;
        color: $dark-brown-color;
        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
        }

        small {
          @include font-size(18px);
        }
        span {
          font-family: $font-secondary-en;
          @include font-size(50px);
        }
      }
      .event-caption {
        @include flex-column;
        color: $dark-brown-color;
        &__date {
          @include font-size(18px);
          @include margin(0, 0, 10px, 0);
        }
        &__title {
          font-family: $font-secondary-en;
          color: $dark-brown-color;
          @include font-size(28px);
          @include margin(0, 0, 30px, 0);
          display: inline-block;
          &:hover {
            color: $brand-color;
          }
        }
        &__location {
          @include margin(0, 0, 30px, 0);
          @include font-size(18px);
          display: flex;
          @include breakpoint(sm) {
            flex-direction: column;
          }
          strong {
            font-family: $font-secondary-en;
            @include margin(0, 10px, 0, 0);
          }
        }
        &__desc {
          @include font-size(18px);
          @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
            @include font-size(15px);
          }
        }
      }
      .figure-holder {
        height: 300px;
        @include border-radius(10px);
        overflow: hidden;
        img {
          @include object-fit;
          object-position: top;
          @include border-radius(10px);
          @include transform(scale(1));
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        img {
          @include transform(scale(1.1));
        }
      }
    }
    .events-footer-nav {
      display: flex;
      justify-content: space-between;
      .item {
        @include flex-center;
        @include border-radius(50px);
        @include padding(10px, 20px, 10px, 20px);

        span {
          @include font-size(18px);
          color: $dark-brown-color;
        }
        i {
          @include margin(0, 10px, 0, 10px);
          @include transition;
          display: flex;
          &::before {
            color: $brand-color;
            @include font-size(20px);
          }
        }
        &:hover {
          background: $light-grey-color;
        }
      }
      .item-prev {
        &:hover {
          i {
            @include margin(0, 0, 0, 0);
          }
        }
      }
      .item-next {
        &:hover {
          i {
            @include margin(0, 0, 0, 0);
          }
        }
      }
    }
  }

  .golf-tabs-wrapper {
    .nav-tabs {
      border: 0;
      @include border-radius(50px);
      background: #c4c4c44d;
      width: 40%;
      margin: 0 auto 50px;

      @include breakpoint(sm) {
        width: 100%;
      }

      .nav-item {
        width: 50%;
      }
      .nav-link {
        color: $brand-color;
        @include font-size(16px);
        border: 0;
        background: none;
        @include padding(20px, 20px, 20px, 20px);
        @include border-radius(50px);
        width: 100%;
        &.active {
          background: $dark-brown-color;
          color: $white-color;
        }
      }
    }
  }

  .leaderboard-wrap {
    border: 1px solid $light-grey-color;
    @include padding(0, 0, 20px, 0);
    header {
      background: $brand-color;
      color: $white-color;
      font-family: $font-secondary-en;
      @include font-size(18px);
      text-align: center;
      @include padding(20px, 0, 20px, 0);
    }
    .table {
      @include margin(0, 0, 30px, 0);
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
      background: rgba($brand-color, 0.2);
    }
  }

  .golf-news {
    .news-card-lg {
      @include margin(0, 0, 30px, 0);
      height: 480px;
      position: relative;
      @include border-radius(10px);
      @include transition;
      display: flex;
      &__figure-holder {
        height: 480px;
        position: relative;
        width: 100%;
        img {
          @include object-fit;
          @include border-radius(10px);
        }
      }
      &__caption {
        @include flex-center;
        flex-direction: column;
        position: absolute;
        color: $white-color;
        top: 0;
        height: 100%;
        justify-content: flex-end;
        @include padding(0, 40px, 40px, 40px);
        background: rgba($black-color, 0.4);
        @include border-radius(10px);
      }
      &__cate {
        color: $white-color;
        background: $brand-color;
        @include border-radius(4px);
        @include margin(0, 0, 15px, 0);
        @include padding(10px, 15px, 10px, 15px);
        @include font-size(14px);
      }
      &__title {
        color: $white-color;
        @include margin(0, 0, 15px, 0);
        @include font-size(24px);
        font-family: $font-secondary-en;
        text-align: center;
        @include transition;
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        background: rgba($dark-brown-color, 0.7);
        .news-card__title {
          color: $brand-color;
        }
      }
    }
    .news-card-sm {
      @include margin(0, 0, 30px, 0);
      @include transition;
      display: flex;
      flex-direction: column;
      @include border-radius(10px);
      overflow: hidden;
      figure {
        height: 250px;
        overflow: hidden;
        @include margin(0, 0, 0, 0);
        img {
          @include object-fit;
          object-position: top;
          @include border-radius(10px 10px 0 0);
          @include transform(scale(1));
        }
      }
      .caption {
        background: rgba($brand-color, 0.2);
        @include padding(20px, 20px, 20px, 20px);
        @include border-radius(0 0 10px 10px);
        height: 200px;
        display: flex;
        flex-direction: column;
        &__date {
          color: $dark-grey-color;
          @include font-size(14px);
          display: block;
          @include margin(0, 0, 10px, 0);
        }
        &__desc {
          color: $dark-brown-color;
          display: block;
          @include font-size(14px);
          @include margin(0, 0, 10px, 0);
          line-height: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          &:hover {
            color: $brand-color;
          }
        }
        .readmore--link {
          margin-top: auto;
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        img {
          @include transform(scale(1.1));
        }
        .arrow-icon {
          transform: translate3d(15px, 0, 0);
        }
        .arrow-icon--circle {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  .press-release {
    .title-head {
      @include flex-center-vert;
      justify-content: space-between;
      @include margin(0, 0, 50px, 0);
      @include breakpoint(sm) {
        flex-direction: column;
        @include margin(0, 0, 30px, 0);
        h2 {
          @include margin(0, 0, 30px, 0);
        }
      }
    }
    &__card {
      background: rgba($brand-color, 0.2);
      @include padding(30px, 30px, 30px, 30px);
      @include flex-center-vert;
      @include transition;
      @include border-radius(10px);
      height: 200px;

      @include breakpoint(sm) {
        height: auto;
      }

      figure {
        @include margin(0, 20px, 0, 0);
        width: 50px;
        height: 50px;
        img {
          width: 100%;
        }
      }
      figcaption {
        flex: 1;
        p {
          color: $dark-grey-color;
          @include font-size(18px);
          @include transition;
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        background: $brand-color;
        figcaption {
          p {
            color: $white-color;
          }
        }
      }
    }
  }
  .about-golf-series {
    figure {
      height: 550px;

      @include breakpoint(sm) {
        height: 300px;
      }

      @include breakpoint(md) {
        height: 350px;
      }

      img {
        @include object-fit;
      }
    }
    figcaption {
      background: #00a8a9;
      @include padding(70px, 70px, 70px, 70px);
      position: relative;
      margin-left: -100px;

      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 30px);
        margin-left: 0;
      }

      @include breakpoint(md) {
        @include padding(50px, 50px, 50px, 50px);
        margin-left: 0;
      }

      blockquote {
        color: $white-color;
        @include font-size(18px);
        line-height: 30px;
        @include margin(0, 0, 50px, 0);
        position: relative;

        &::before {
          content: open-quote;
          left: -31px;
        }
        &:after {
          content: close-quote;
          bottom: -61px;
        }
      }

      blockquote:before,
      blockquote:after {
        color: $brand-second-color;
        @include font-size(120px);
        position: absolute;
        font-family: sans-serif;
      }
      span {
        color: $brand-second-color;
        @include font-size(18px);
        font-family: $font-secondary-en;
      }
    }
  }
  .golf-gallery {
    .gallery-card {
      @include margin(0, 0, 30px, 0);
      @include transition;
      @include padding(20px, 20px, 20px, 20px);
      @include border-radius(10px);
      display: flex;
      flex-direction: column;

      figure {
        height: 360px;
        overflow: hidden;
        @include margin(0, 0, 30px, 0);
        img {
          @include object-fit;
          @include border-radius(10px);
          @include transform(scale(1));
        }
      }
      h3 {
        color: $brand-color;
        text-align: center;
        @include font-size(24px);
      }

      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
        background: $white-color;
        img {
          @include transform(scale(1.1));
        }
      }
    }
    .imageslist {
      display: flex;
      flex-wrap: wrap;
      a {
        width: 20%;
        padding: 10px;

        @include breakpoint(sm) {
          width: 50%;
        }
        @include breakpoint(md) {
          width: 33.33333%;
        }

        :hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.single-event-detail-wrap {
  .figure-holder {
    @include margin(0, 0, 40px, 0);
    height: 340px;
    img {
      @include object-fit;
      @include border-radius(10px);
    }
  }
  .event-caption {
    @include flex-column;
    color: $dark-brown-color;
    &__date {
      @include font-size(18px);
      @include margin(0, 0, 20px, 0);
    }
    &__title {
      font-family: $font-secondary-en;
      color: $dark-brown-color;
      @include font-size(28px);
      @include margin(0, 0, 20px, 0);
      display: inline-block;
      &:hover {
        color: $brand-color;
      }
    }
    &__location {
      @include margin(0, 0, 30px, 0);
      @include font-size(18px);
      display: flex;
      @include breakpoint(sm) {
        flex-direction: column;
      }
      strong {
        font-family: $font-secondary-en;
        @include margin(0, 10px, 0, 0);
      }
    }
    &__desc {
      @include font-size(18px);
      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        @include font-size(15px);
      }
    }
  }
}

.single-news-detail-wrap {
  .figure-holder {
    @include margin(0, 0, 40px, 0);
    height: 340px;
    img {
      @include object-fit;
      @include border-radius(10px);
    }
  }
  .news-caption {
    @include flex-column;
    color: $dark-brown-color;
    &__info {
      @include font-size(18px);
      color: $light-grey-color;
      @include margin(0, 0, 20px, 0);
      span {
        @include margin(0, 20px, 0, 0);
      }
    }
    &__title {
      font-family: $font-secondary-en;
      color: $brand-color;
      @include font-size(32px);
      @include margin(0, 0, 20px, 0);
      display: inline-block;
    }

    p {
      @include font-size(18px);
      @include margin(0, 0, 30px, 0);
      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        @include font-size(15px);
      }
    }
  }
}

.register-form {
  background: #00a8a9;
  @include margin(0, 0, -100px, 0);
  @include padding(130px, 0, 230px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 130px, 0);
  }
  .form-group {
    @include margin(0, 0, 30px, 0);
    label {
      @include font-size(16px);
      @include margin(0, 0, 10px, 0);
      color: $white-color;
      text-transform: capitalize;
      font-family: $font-secondary-en;
    }
  }
}
.gallery-row {
  grid-template-columns: 37% 37% 25%;
  display: grid;
  grid-gap: 20px;
  @include breakpoint(sm) {
    grid-template-columns: auto;
  }
  figure {
    height: 350px;
    img {
      @include object-fit;
      object-position: top;
    }
  }
}

.register-form-wrap {
  /**
--------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------
Gravity Forms Custom Styling
*/

  li.gfield:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Hidden & Validation Forms */

  li.gform_validation_container,
  li.gform_hidden {
    position: absolute;
    left: -999em;
    visibility: hidden;
  }

  .hidden_label > label {
    position: absolute;
    left: -999em;
  }

  /* Icons */

  @font-face {
    font-family: "icomoon";
    src: url("/wp-content/themes/dougfir/assets/fonts/icomoon.eot?pvuvir");
    src: url("/wp-content/themes/dougfir/assets/fonts/icomoon.eot?pvuvir#iefix")
        format("embedded-opentype"),
      url("/wp-content/themes/dougfir/assets/fonts/icomoon.ttf?pvuvir")
        format("truetype"),
      url("/wp-content/themes/dougfir/assets/fonts/icomoon.woff?pvuvir")
        format("woff"),
      url("/wp-content/themes/dougfir/assets/fonts/icomoon.svg?pvuvir#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before,
  article.hentry.sticky:before,
  .icon-after:after,
  .ls-nav-right a:before,
  .ls-nav-left a:before,
  .wc_payment_method label:before,
  label[for="stripe-card-number"]:after,
  label[for="stripe-card-cvc"]:after,
  .ui-icon:after,
  .ui-icon:before,
  .gform_card_icon_container div:before,
  .ginput_card_security_code_icon:before {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon:before {
    margin-right: 0.25em;
  }

  .icon-replacment:before {
    margin-right: 0;
  }

  .icon-search:before {
    content: "\e900";
  }

  .icon-pin:before,
  article.hentry.sticky:before {
    content: "\e906";
  }

  .icon-google-plus:before {
    content: "\e901";
  }

  .icon-instagram:before {
    content: "\e902";
  }

  .icon-linkedin:before {
    content: "\e903";
  }

  .icon-facebook:before {
    content: "\e904";
  }

  .icon-twitter:before {
    content: "\e905";
  }

  .icon-rss:before {
    content: "\e907";
  }

  .icon-new-window:before,
  .content .icon-new-window:after {
    content: "\e908";
  }

  .icon-pinterest:before {
    content: "\e604";
  }

  .icon-vimeo:before {
    content: "\e909";
  }

  .icon-youtube:before {
    content: "\e90a";
  }

  .icon-calendar:before {
    content: "\e918";
  }

  .icon-arrow-right:before,
  .ls-nav-right a:before,
  .ui-icon-circle-triangle-e:after {
    content: "\e994";
  }

  .icon-arrow-left:before,
  .ls-nav-left a:before,
  .ui-icon-circle-triangle-w:before {
    content: "\e995";
  }

  .icon-replacement,
  .ls-nav-right a,
  .ls-nav-left a,
  .ui-icon-circle-triangle-e,
  .ui-icon-circle-triangle-w {
    text-indent: -999em;
    overflow: hidden;
    display: block;
    position: relative;
  }

  .icon-replacement:before,
  .ls-nav-right a:before,
  .ls-nav-left a:before,
  .ui-icon-circle-triangle-e:after,
  .ui-icon-circle-triangle-w:before {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
    width: 100%;
    text-align: center;
  }

  button.icon-search.icon-replacement:before {
    width: auto;
  }

  .icon-after:before {
    content: "";
    display: none;
  }

  .icon-after:after {
    margin-left: 0.25em;
  }

  /* Buttons */

  .button,
  .button:visited,
  .h nav li.button a,
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .menu-toggle {
    color: #392a26;
    font-size: 1em;
    background: #f9e300;
    border-radius: 3px;
    border: none;
    padding: 1em 2em;
    line-height: 1;
    transition: background 500ms, color 500ms;
    text-decoration: none;
    text-align: center;
  }

  .select2-container .select2-choice {
    background: #efefef !important;
    border: none !important;
    padding: 0.75em 1em !important;
  }

  .select2-display-none {
    padding-top: 0.5em !important;
  }

  .button.secondary-button,
  input[type="reset"] {
    color: black;
    background: lightgrey;
  }

  .button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  .menu-toggle:hover,
  .h nav li.button a:hover {
    color: white;
    background: #392030;
    cursor: pointer;
    transition: background 250ms, color 250ms;
  }

  .sidebar .button {
    margin: 1em auto;
    display: block;
  }

  /* Form Elements */

  .content form {
    margin: 1em 0;
  }

  fieldset {
    padding: 0;
    margin-bottom: 20px;
    position: relative;
  }

  fieldset > * {
    padding-left: 0;
  }

  fieldset legend {
    padding-left: 0;
    font-size: calc(0.8rem + 0.3vw);
  }

  label {
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em;
    font-size: 1em;
  }

  select::-ms-expand {
    display: none;
  }

  option {
    padding: 0.25em 0.5em;
  }

  textarea,
  select[multiple],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="week"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="tel"],
  input[type="time"] {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: 0;
    padding: 1em;
    font-size: 1em;
    outline: none;
    background: #efefef;
  }

  select[multiple] {
    width: auto;
  }

  input[type="week"],
  input[type="month"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="number"],
  input[type="time"] {
    width: 5em;
    max-width: 100%;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    padding-top: 0;
    clear: left;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block;
    max-width: 95%;
    float: left;
  }

  input[type="search"] {
    appearance: none;
  }

  textarea {
    min-height: 200px;
    width: 100%;
  }

  /*
Events Showcase Custom CSS
*/

  .tribe-events .tribe-events-c-search__button {
    background-color: #3ab3e5 !important;
  }

  .tribe-events-view {
    font-family: "avertaregular";
  }

  .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__nav {
    background: #f8f8f8 !important;
  }

  /* Gravity Forms Styling, v .1 */

  /* Basics */

  body .gform_wrapper .gform_validation_container {
    display: none;
  }

  .gform_wrapper:after,
  .gform_wrapper li:after,
  .gfield_html_formatted:after,
  .clear-multi:after,
  .gf_progressbar_wrapper:after,
  .gform_page_footer:after,
  .gf_page_steps:after {
    content: "";
    display: table;
    clear: both;
  }

  .gform_wrapper {
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -50px;

    @include breakpoint(sm) {
      margin-top: 0;
    }
    @include breakpoint(md) {
      margin-top: 0;
    }
  }

  .gform_wrapper ul {
    padding: 0;
    list-style: none;
  }

  .gform_wrapper li {
    padding: 0.5em 0;
  }

  .gform_wrapper .small,
  .small + .ginput_counter,
  .small + .chosen-container-multi {
    width: 20% !important;
    max-width: 100%;
  }

  .gform_wrapper .medium,
  .medium + .ginput_counter,
  .medium + .chosen-container-multi {
    width: 100% !important;
    max-width: 100%;
  }

  .gform_wrapper .large,
  .large + .ginput_counter,
  .large + .chosen-container-multi {
    width: 100% !important;
    max-width: 100%;
  }

  @media (max-width: 767px) {
    .gform_wrapper .small,
    .small + .ginput_counter,
    .small + .chosen-container-multi {
      width: 40% !important;
      max-width: 100%;
    }
    .gform_wrapper .medium,
    .medium + .ginput_counter,
    .medium + .chosen-container-multi {
      width: 100% !important;
      max-width: 100%;
    }
    .gform_wrapper .large,
    .large + .ginput_counter,
    .large + .chosen-container-multi {
      width: 100% !important;
      max-width: 100%;
    }
  }

  .ginput_counter {
    padding-top: 0.25em;
  }

  .gfield_required {
    padding: 0 0.2em;
  }

  .gfield_description {
    padding: 0.25em 0.25em 0 0.25em;
    clear: both;
  }

  .field_description_above .gfield_description {
    padding: 0.75em 0.25em;
  }

  .field_sublabel_above.field_description_above
    .gfield_description
    + .clear-multi
    label {
    padding-top: 0;
  }

  @media (max-width: 767px) {
    li.gfield {
      max-width: 100%;
      overflow-x: scroll;
    }
  }

  /* Typography */

  .gfield_total label {
    font-size: 1.75em;
  }

  .ginput_container_total,
  h3.gf_progressbar_title,
  .ginput_container_post_title {
    font-size: 1.5em;
  }

  h3.gf_progressbar_title {
    font-size: 1em;
  }

  .ginput_counter,
  .ginput_complex span label,
  .ginput_container_fileupload .screen-reader-text,
  .instruction,
  .ui-datepicker-title select {
    font-size: 0.9em;
  }

  .gfield_description,
  .gfield .instruction {
    font-style: italic;
  }

  .gfield_label,
  .gfield_required,
  .ginput_product_price_label,
  .ginput_product_price,
  input:checked + label,
  td.ui-datepicker-today a,
  .gfield_description.validation_message,
  .ginput_shipping_price,
  h3.gf_progressbar_title {
    font-weight: normal;
  }

  .ginput_counter {
    text-align: right;
  }

  .ginput_counter {
    line-height: 1;
  }

  /* Colors */

  .gfield_required,
  .warningTextareaInfo,
  ul.chosen-results li.no-results,
  .ginput_container_fileupload span.screen-reader-text + div {
    color: #bf0421;
  }

  /* Maroon */

  .ginput_product_price_label,
  .ginput_product_price,
  .ginput_container_total {
    color: green;
  }

  select[multiple] + .chosen-container li.result-selected,
  td.ui-datepicker-current-day a.ui-state-active,
  ul.chosen-results li.active-result.result-selected {
    background: black;
    color: white;
  }

  /* Radio & Checkboxes */

  .gfield_checkbox li label,
  .gfield_radio li label {
    padding-top: 0;
    top: -0.15em;
    position: relative;
  }

  .gfield_radio input[type="radio"] + input[type="text"] {
    float: left;
    display: inline-block;
    width: 10em;
    top: -0.75em;
    position: relative;
    margin-left: 0.25em;
  }

  /* Selects */

  .ginput_container_select {
    position: relative;
    display: inline;
    z-index: 99;
  }

  .ginput_container_select.chosen-after {
    display: inline-block;
  }

  .ginput_container_select.chosen-after:after {
    top: 1.3em;
  }

  .ginput_container_select:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
  }

  .ginput_container_select:after {
    /*  border-left: 5px solid transparent;
    border-right: 5px solid transparent; */
    top: 0.3em;
    right: 0.75em;
    border-top: 0;
    opacity: 0.5;
  }

  .ginput_container_select select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .chosen-container {
    position: relative;
  }

  li.gfield a.chosen-single span,
  li.gfield .chosen-container-multi .search-choice span {
    color: black;
    position: absolute;
    display: block;
    left: 1em;
    top: 0.85em;
  }

  ul.chosen-results {
    display: none;
    border: 3px solid #efefef;
    background: white;
    top: -0.3em;
    position: relative;
    padding: 0 !important;
    max-height: 11.75em;
    overflow: scroll;
  }

  .chosen-container-multi ul.chosen-results {
    top: -1em;
    left: 1em;
    width: 15em;
    max-width: 90%;
  }

  ul.chosen-results li.active-result {
    padding: 0.5em 0.75em;
  }

  ul.chosen-results li.active-result:hover {
    background: #efefef;
  }

  select[multiple] + .chosen-container li.result-selected {
    padding-left: 0.75em;
  }

  select[multiple] + .chosen-container.chosen-container-active li.search-field {
    display: none;
  }

  ul.chosen-results li.active-result.result-selected.gf_placeholder {
    background: transparent;
    color: black;
  }

  ul.chosen-results li.no-results {
    padding: 0.5em 0.75em;
    font-style: italic;
  }

  .chosen-container-active ul.chosen-results {
    display: block;
  }

  .chosen-container-active a.chosen-single span {
    visibility: hidden;
  }

  .chosen-container-multi .search-choice span {
    top: 2em;
    left: 2em;
  }

  .chosen-container-multi li.search-choice {
    position: relative;
    top: 2.5em;
  }

  .chosen-container-multi .search-field input {
    overflow-x: hidden;
  }

  .ginput_container_multiselect select {
    height: 8em;
    overflow: scroll;
  }

  .ginput_container_multiselect select.small {
    height: 6.5em;
  }

  .ginput_container_multiselect select.large {
    height: 12em;
  }

  .small + .chosen-container-multi .search-field input,
  .medium + .chosen-container-multi .search-field input,
  .large + .chosen-container-multi .search-field input {
    width: 100%;
  }

  select[multiple] + .chosen-container li.search-field input {
    width: 100% !important;
  }

  select[multiple]
    + .chosen-container-multi
    ul.chosen-choices
    li.search-choice {
    position: relative;
    left: 90%;
    padding-bottom: 1em;
  }

  /* HTML Field & Sections */

  .gfield_html_formatted {
    margin-bottom: 1em;
  }

  li.gsection {
    margin-top: 2em;
  }

  /* Name Fields */

  .ginput_complex span label {
    padding: 0.25em 0 0.75em 0.25em;
  }

  span.name_first,
  span.name_last,
  span.name_middle,
  span.name_prefix,
  span.name_suffix {
    width: 49%;
    float: left;
  }

  span.name_first {
    margin-right: 1%;
  }

  span.name_last {
    margin-left: 1%;
  }

  .no_prefix.no_middle_name.no_last_name.no_suffix span.name_first label,
  .no_prefix.no_middle_name.no_first_name.no_suffix span.name_last label {
    display: none;
  }

  .no_prefix.no_middle_name.no_first_name.no_suffix span.name_last {
    margin-left: 0;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_first {
    width: 40%;
    margin-right: 1%;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_middle {
    width: 18%;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_last {
    width: 40%;
    margin-left: 1%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_prefix {
    width: 10%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_first {
    width: 39%;
    margin-right: 1%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_middle {
    width: 10%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
    span.name_last {
    width: 39%;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_first {
    width: 38.5%;
    margin-right: 1%;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_middle {
    width: 10%;
    margin-right: 1%;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_last {
    width: 38.5%;
    margin-left: 0;
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_suffix {
    width: 10%;
    margin-left: 1%;
  }

  .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
    span.name_prefix {
    width: 10%;
  }

  .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
    span.name_first {
    width: 39%;
    margin-right: 1%;
  }

  .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
    span.name_last {
    width: 39%;
    margin-left: 0;
  }

  .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
    span.name_suffix {
    width: 10%;
    margin-left: 1%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_prefix {
    width: 10%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_first {
    width: 33.5%;
    margin-right: 1%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_middle {
    width: 10%;
    margin-right: 1%;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_last {
    width: 33.5%;
    margin-left: 0;
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
    span.name_suffix {
    width: 10%;
    margin-left: 1%;
  }

  @media (max-width: 767px) {
    .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
      span.name_prefix {
      width: 20%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
      span.name_first {
      width: 40%;
      margin-right: 1%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
      span.name_middle {
      clear: left;
      width: 20%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix
      span.name_last {
      width: 40%;
    }
    .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_first {
      width: 40%;
      margin-right: 1%;
    }
    .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_middle {
      width: 20%;
      margin-right: 1%;
    }
    .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_last {
      clear: left;
      width: 40%;
      margin-left: 0;
    }
    .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_suffix {
      width: 20%;
      margin-left: 1%;
    }
    .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
      span.name_prefix {
      width: 20%;
    }
    .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
      span.name_first {
      width: 40%;
      margin-right: 1%;
    }
    .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
      span.name_last {
      width: 40%;
      clear: left;
      margin-left: 0;
    }
    .has_prefix.has_first_name.no_middle_name.has_last_name.has_suffix
      span.name_suffix {
      width: 20%;
      margin-left: 1%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_prefix {
      width: 20%;
      margin-right: 1%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_first {
      width: 40%;
      margin-right: 1%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_middle {
      clear: left;
      width: 20%;
      margin-right: 1%;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_last {
      width: 40%;
      margin-left: 0;
    }
    .has_prefix.has_first_name.has_middle_name.has_last_name.has_suffix
      span.name_suffix {
      width: 20%;
      margin-left: 1%;
    }
  }

  .field_sublabel_above span label {
    padding-bottom: 0;
  }

  /* Calendar */

  .ui-datepicker .ui-icon {
    position: relative;
  }

  a.ui-datepicker-prev,
  a.ui-datepicker-next {
    float: left;
    width: 1em;
    height: 1em;
    margin-top: 0.45em;
  }

  a.ui-datepicker-next {
    float: right;
  }

  #ui-datepicker-div {
    background: white;
    padding: 0.5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  table.ui-datepicker-calendar th,
  table.ui-datepicker-calendar td {
    padding: 0.25em;
  }

  a.ui-datepicker-next.ui-corner-all {
    float: right;
  }

  .ui-datepicker-title {
    text-align: center;
  }

  .ui-datepicker-title select {
    padding: 0.5em 1em;
    margin: 0 0.15em;
  }

  td.ui-datepicker-week-end {
    background: #efefef;
  }

  table.ui-datepicker-calendar td {
    padding: 0.25em;
    text-align: center;
  }

  select[multiple] + .chosen-container li.result-selected {
    padding-left: 0.75em;
    background: black;
    color: white;
  }

  td.ui-datepicker-current-day a.ui-state-active {
    display: block;
    border-radius: 50%;
    width: 1.5em;
  }

  input.datepicker_with_icon + img {
    width: 1.5em;
    position: relative;
    left: 0.5em;
    top: 0.25em;
  }

  /* Time */

  .ginput_container_time {
    float: left;
  }

  .ginput_container_time i {
    font-style: normal;
    display: inline-block;
    padding: 0 0.25em 0 0;
  }

  .gfield_time_ampm {
    margin-left: 1%;
  }

  /* Address */

  span.address_city,
  span.address_state,
  span.address_zip {
    float: left;
    width: 32%;
    margin-right: 1%;
  }

  span.address_city {
    width: 34%;
  }

  span.address_zip {
    margin-right: 0;
  }

  .address_state select {
    width: 100%;
  }

  @media (max-width: 767px) {
    span.address_city {
      width: 100%;
      float: none;
    }
    span.address_city input {
      width: 80%;
    }
    span.address_state,
    span.address_zip {
      width: 49%;
    }
  }

  /* Email Address */

  .ginput_container_email > span {
    float: left;
    width: 49.5%;
    margin-right: 0.5%;
  }

  .ginput_container_email span.ginput_right {
    margin-left: 0.5%;
    margin-right: 0;
  }

  /* File Upload */

  .ginput_container_fileupload {
    background: #efefef;
    padding: 0.75em;
    border-radius: 3px;
  }

  .ginput_container_fileupload .screen-reader-text {
    display: inline;
  }

  .ginput_container_fileupload > div:first-of-type {
    text-align: center;
    padding: 2em 0;
    border: 3px dashed #ddd;
  }

  span.gform_drop_instructions {
    display: block;
    margin: 0 0 1em 0;
  }

  .ginput_container_fileupload > div + span.screen-reader-text {
    display: block;
    text-align: center;
    margin: 1em 0 0 0;
  }

  .ginput_container_fileupload span.screen-reader-text + div li {
    padding: 0.25em 0 0 0;
  }

  @media (max-width: 767px) {
    .ginput_container_fileupload .screen-reader-text {
      display: block;
      font-size: 0.7em;
      padding: 1em 0.75em;
    }
    span.gform_drop_instructions {
      display: none;
    }
  }

  /* List */

  td.gfield_list_icons img {
    position: relative;
    top: 1em;
    opacity: 1 !important;
  }

  .field_description_above .gfield_description + .ginput_container_list {
    margin-top: -1.5em;
  }

  /* Product Fields */

  .ginput_container_singleproduct .ginput_product_price_label {
    padding-left: 1em;
  }

  span.ginput_quantity_label {
    margin-left: 1em;
  }

  .instruction {
    padding: 0.5em 0.35em;
  }

  .ginput_shipping_price {
    padding: 1em;
    display: block;
  }

  .ginput_container_total {
    display: block;
    margin-left: 0.35em;
  }

  /* Error & Validation Messages */

  .validation_error,
  .gform_validation_error li.gfield_error {
    background: #bf0421;
    /* Maroon */
    color: white;
    padding: 0 1em 1em 1em;
    margin: 1em 0;
    border-radius: 3px;
  }

  .validation_error {
    padding-top: 1em;
  }

  .gfield_description.validation_message {
    position: absolute;
    top: 0.75em;
    left: 1em;
    background: red;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    color: white;
    font-size: 12px;
    font-style: normal;
  }

  .gfield_description.validation_message:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -5px;
    left: 1em;
    border-top: 5px solid red;
  }

  .gform_wrapper li.gfield_error {
    position: relative;
    margin-top: 3em;
  }

  .gfield_error .ginput_container_select:after {
    display: none;
  }

  .gfield_error .warningTextareaInfo {
    color: white;
  }

  .gfield_error .ginput_container_fileupload {
    color: black;
  }

  .gfield_error img.add_list_item {
    background-color: white;
    border-radius: 50%;
  }

  /* From Heading */

  .gform_heading .gform_description {
    padding: 1em 0;
    display: block;
  }

  /* Progress Bars & Paging */

  .gf_progressbar {
    position: relative;
    border-top: 5px solid #efefef;
  }

  .gf_progressbar_percentage {
    color: white;
    border-top: 5px solid #4480c3;
    position: relative;
    top: -5px;
    text-align: right;
  }

  .gf_progressbar_percentage span {
    background: black;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.75;
    border-radius: 3px;
    border-top-right-radius: 0;
    font-size: 0.9em;
    margin-top: 0.25em;
    position: relative;
    text-align: center;
  }

  .gf_progressbar_percentage.percentbar_0 span {
    border-top-right-radius: 3px;
    border-top-left-radius: 0;
  }

  .gf_progressbar_percentage span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 0 solid transparent;
    top: -5px;
    right: 0;
    border-bottom: 5px solid black;
  }

  .gf_progressbar_percentage.percentbar_0 span:after {
    right: auto;
    left: 0;
    border-right: 5px solid transparent;
    border-left: 0;
  }

  .gf_progressbar_percentage.percentbar_red {
    border-color: #bf0421;
  }

  .gf_progressbar_percentage.percentbar_green {
    border-color: green;
  }

  .gf_progressbar_percentage.percentbar_gray {
    border-color: #666;
  }

  .gf_progressbar_percentage.percentbar_orange {
    border-color: #e8641b;
  }

  .gf_progressbar_percentage.percentbar_custom {
    border-color: transparent;
  }

  .gf_progressbar_wrapper + .gform_body .gform_page_footer {
    padding-top: 2em;
  }

  .gform_next_button {
    float: right;
  }

  div.gform_confirmation_message {
    background: green;
    color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 3px;
  }

  body img.gform_ajax_spinner {
    display: block;
    margin: 1em auto;
  }

  .gf_page_steps {
    display: table;
    width: 100%;
  }

  .gf_page_steps > div {
    padding: 0.25em;
    display: table-cell;
    color: white;
    background: black;
    vertical-align: top;
    font-weight: bold;
  }

  .gf_page_steps > div.gf_step_pending {
    background: #efefef;
    color: #666;
  }

  .gf_step_clear {
    display: none !important;
  }

  span.gf_step_number {
    background: white;
    color: black;
    display: inline-block;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
  }

  @media (max-width: 767px) {
    .gf_step {
      text-align: center;
    }
    .gf_step span {
      clear: both;
      display: block;
      margin: 0 auto;
    }
    span.gf_step_number {
      margin-top: 0.5em;
    }
    span.gf_step_label {
      margin-top: -1em;
    }
  }

  /* Credit Card */

  .ginput_container_creditcard {
    background: #efefef;
    padding: 2em;
    border-radius: 5px;
  }

  .ginput_container_creditcard input,
  .ginput_container_creditcard select {
    background: white;
  }

  .gform_card_icon_container div {
    font-size: 2em;
    float: left;
    text-indent: -99em;
    position: relative;
    display: block;
  }

  .gform_card_icon_container div:before {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
  }

  .gform_card_icon_container div {
    font-size: 2em;
    float: left;
    text-indent: -99em;
    position: relative;
    display: block;
    width: 1.5em;
    color: #666;
  }

  .ginput_card_security_code_icon:before {
    content: "\e911";
  }

  .icon-cc-paypal:before {
    content: "\e913";
  }

  .gform_card_icon_amex:before {
    content: "\e914";
  }

  .gform_card_icon_discover:before {
    content: "\e915";
  }

  .gform_card_icon_mastercard:before {
    content: "\e916";
  }

  .gform_card_icon_visa:before {
    content: "\e917";
  }

  .ginput_cardinfo_left,
  .ginput_cardinfo_right {
    float: left;
  }

  .ginput_cardinfo_right {
    margin-left: 1em;
  }

  span.ginput_card_security_code_icon {
    font-size: 1.5em;
    float: left;
    color: #666;
  }

  .gfield_creditcard_warning_message {
    background: #bf0421;
    color: white;
    padding: 1em 0.75em;
    border-radius: 3px;
  }

  .gfield_error .ginput_container_creditcard label {
    color: black;
  }

  .ginput_container_creditcard .ginput_full {
    clear: both;
    display: block;
  }

  .field_sublabel_above
    .ginput_container_creditcard
    .ginput_full:first-of-type {
    margin-bottom: 2em;
  }

  @media (max-width: 767px) {
    .ginput_container_creditcard {
      padding: 1em;
    }
    .ginput_cardinfo_right {
      width: 40%;
    }
  }
  .gfield--width-half {
    /*  width: 50%;
    float: left; */
    padding: 0 0 0 0;
    position: relative;
  }
  .gform_validation_container {
    display: none;
  }
  .gfield_description {
    margin-bottom: 20px;
  }
  .ginput_container {
    margin-bottom: 20px;
  }
  .nice-select {
    background: #efefef !important;
    box-shadow: none !important;
    height: 60px !important;
    margin-bottom: 20px;
    span.current {
      margin-top: 7px;
      display: block;
    }
  }
  .nice-select::before {
    top: 20px;
  }
  .nice-select::after {
    top: 30px;
  }
  .nice-select .list {
    padding: 0 20px !important;
    height: 200px;
    overflow-y: scroll;
    background-color: #efefef !important;
  }
  .gform_submission_error {
    color: red;
    font-size: 16px;
  }
  .gform_validation_errors {
    border: 1px solid red;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .gfield_contains_required {
    position: relative;
  }
  /* .gfield--width-full {
    position: relative;
  } */
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__nav {
  background: none !important;
  box-shadow: none !important;
}
