@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/footer", "layout/header";

@import "components/ui-elements";

body {
  font-family: $font-primary-en;
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}
.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 105px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }
  @include breakpoint(lp) {
    @include margin(0, 0, 70px, 0);
  }
  h2 {
    @include font-size(40px);
    color: $brand-color;
    font-family: $font-secondary-en;
    @include breakpoint(sm) {
      @include font-size(30px);
    }
    @include breakpoint(md) {
      @include font-size(30px);
    }
  }
  p {
    @include font-size(18px);
    line-height: 30px;
    color: $dark-brown-color;
  }
}

.white-color-text {
  color: $white-color;
}
.black-color-text {
  color: $black-color;
}
.brand-color-text {
  color: $brand-color;
}
.bold-text {
  font-family: $font-secondary-en;
}

@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.blue-wrap {
  background: $light-blue-color;
}
.dark-blue-wrap {
  background: $brand-color;
}
.blue-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}

.grey-wrap {
  background: #f5f5f5;
}
.grey-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}
.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.card {
  @include border-radius(0);
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.custom-dropdown-list {
  position: relative;
  &::before {
    content: "\f3ca";
    font-family: "bootstrap-icons";
    position: absolute;
    @include font-size(24px);
    top: 5px;
    left: 14px;
    z-index: 11;
  }
  .nice-select {
    text-align: center !important;
  }
}

.back-btn {
  @include flex-center;
  @include border-radius(50px);
  @include padding(10px, 20px, 10px, 20px);
  @include margin(0, 0, 40px, 0);
  display: inline-flex;
  span {
    @include font-size(18px);
    color: $dark-brown-color;
  }
  i {
    @include margin(0, 10px, 0, 10px);
    @include transition;
    display: flex;
    &::before {
      color: $dark-brown-color;
      @include font-size(40px);
    }
  }
  &:hover {
    background: $light-grey-color;
    i {
      @include margin(0, 0, 0, 0);
    }
  }
}
