* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #3ab3e5;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input.nice-select.open:-webkit-autofill {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

/* regular */
@font-face {
  font-family: "avertaregular";
  src: url("../fonts/averta-regular-webfont.eot");
  src: url("../fonts/averta-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-regular-webfont.woff2") format("woff2"), url("../fonts/averta-regular-webfont.woff") format("woff"), url("../fonts/averta-regular-webfont.ttf") format("truetype"), url("../fonts/averta-regular-webfont.svg#avertaregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* bold */
@font-face {
  font-family: "avertabold";
  src: url("../fonts/averta-bold-webfont.eot");
  src: url("../fonts/averta-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-bold-webfont.woff2") format("woff2"), url("../fonts/averta-bold-webfont.woff") format("woff"), url("../fonts/averta-bold-webfont.ttf") format("truetype"), url("../fonts/averta-bold-webfont.svg#avertabold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* black */
@font-face {
  font-family: "avertablack";
  src: url("../fonts/averta-black-webfont.eot");
  src: url("../fonts/averta-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-black-webfont.woff2") format("woff2"), url("../fonts/averta-black-webfont.woff") format("woff"), url("../fonts/averta-black-webfont.svg#avertablack") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tragic_markerregular";
  src: url("../fonts/tragicmarker-webfont.woff2") format("woff2"), url("../fonts/tragicmarker-webfont.woff") format("woff"), url("../fonts/tragicmarker-webfont.ttf") format("truetype"), url("../fonts/tragicmarker-webfont.svg#tragic_markerregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* clearfix */
/* center block */
/* center vertically */
/* clearfix */
/* respo */
footer .footer-top {
  background: #f5f5f5;
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

footer .footer-top .contact-info {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

footer .footer-top .contact-info__footer-logo {
  background: url(../images/cata-color-logo@3x.png) no-repeat;
  width: 178px;
  height: 55px;
  display: block;
  background-size: 178px 55px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .contact-info__footer-logo {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-top .contact-info span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

footer .footer-top .footer-links {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-links {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-top .footer-links__title {
  color: #392030;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "avertabold";
  letter-spacing: 1px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-links__title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

footer .footer-top .footer-links__list-item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-links__list-item {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0;
  }
}

footer .footer-top .footer-links__list-item a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  position: relative;
}

footer .footer-top .footer-links__list-item a:hover {
  color: #3ab3e5;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 20px;
}

footer .footer-top .footer-links__list-item a:hover:before {
  width: 10px;
}

footer .footer-top .footer-links__list-item a:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  background: #3ab3e5;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.3s ease-out 0.5s ease;
  transition: all 0.3s ease-out 0.5s ease;
}

footer .footer-top .footer-center {
  border-top: solid 1px #ddd;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

footer .footer-top .footer-center ul.social-icons {
  /* Landscape phones and down */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  footer .footer-top .footer-center ul.social-icons {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-top .footer-center ul.social-icons li {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

footer .footer-top .footer-center ul.social-icons li a {
  display: block;
  height: 28px;
  width: 28px;
  line-height: 28px;
  border-radius: 50%;
  background: #3ab3e5;
  color: #fff;
  text-align: center;
}

footer .footer-top .footer-center ul.social-icons li a:hover {
  background: #392030;
}

footer .footer-top .footer-center ul.copyright-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-center ul.copyright-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer-top .footer-center ul.copyright-links li {
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-center ul.copyright-links li {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
  }
}

footer .footer-top .footer-center ul.copyright-links li a {
  display: block;
  font-size: 13px;
  color: #000;
}

footer .footer-top .footer-center ul.copyright-links li a:hover {
  color: #3ab3e5;
}

footer .footer-copyright {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

footer .footer-copyright .copyright-text {
  font-size: 15px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-copyright .copyright-text {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: block;
  }
}

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  border-radius: 5px;
  bottom: 40px;
  right: 40px;
  background: #3ab3e5;
  color: #fff;
  display: none;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  -webkit-animation: fadeInRight 0.8s ease forwards;
          animation: fadeInRight 0.8s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .scrollup {
    right: 20px;
  }
}

.scrollup span.top-arrow {
  display: block;
  position: relative;
  top: 0px;
  margin: 5px auto 0;
}

.scrollup span.top-arrow i::before {
  font-size: 20px;
}

.scrollup:hover {
  background: #f9e200;
}

.scrollup:hover span.top-arrow {
  -webkit-animation: arrowMove 0.8s linear infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

header nav {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header nav.navbar {
  width: 100%;
  background: none;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

header nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .navbar-nav .nav-link {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #fff !important;
  padding: 10px 0 10px 0 !important;
  position: relative;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  header nav .navbar-nav .nav-link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav .nav-link {
    font-size: 16px;
    font-size: 1rem;
  }
}

header nav .navbar-nav .nav-link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #3ab3e5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
}

header nav .navbar-nav .nav-link i {
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

header nav .navbar-nav .nav-link i::before {
  font-size: 14px;
  font-size: 0.875rem;
}

header nav .navbar-nav .nav-link .golf-icon {
  width: 16px;
  margin-top: -5px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

header nav .navbar-nav .nav-link .golf-icon svg {
  fill: #fff;
}

header nav .navbar-nav .nav-link:hover {
  color: #3ab3e5 !important;
}

header nav .navbar-nav .nav-link:hover::before {
  width: 45px;
}

header nav .navbar-nav .nav-link:hover .golf-icon svg {
  fill: #3ab3e5;
}

header nav .navbar-nav .nav-link.active {
  color: #3ab3e5 !important;
}

header nav .navbar-nav .nav-link.active::before {
  width: 45px;
}

header nav .navbar-nav .nav-link.active .golf-icon svg {
  fill: #3ab3e5;
}

header nav .navbar-nav .back-btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  header nav .navbar-nav .back-btn-header {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

header nav .navbar-nav .back-btn-header i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .back-btn-header i {
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav .back-btn-header i {
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

header nav .navbar-nav .back-btn-header i::before {
  font-size: 16px;
  font-size: 1rem;
}

header nav .navbar-nav .back-btn-header p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .back-btn-header p {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav .back-btn-header p {
    display: none;
  }
}

header nav .navbar-nav .back-btn-header:hover {
  color: #3ab3e5;
}

header nav .navbar-nav .back-btn-header:hover i::before {
  color: #3ab3e5;
}

header nav .navbar-nav .search-button {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

header nav .navbar-nav .search-button i::before {
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
}

header nav .navbar-nav .search-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

header nav .navbar-nav .search-button:hover i::before {
  color: #f9e200;
}

@media (max-width: 767px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    margin-top: 10px;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 5%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  header nav .navbar-collapse .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    color: #000 !important;
  }
  header nav .navbar-collapse .nav-link .golf-icon svg {
    fill: #000;
  }
  header nav .header-right {
    position: absolute;
    right: 80px;
    top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .header-right .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    margin-top: 10px;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 5%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  header nav .navbar-collapse .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    color: #000 !important;
  }
  header nav .navbar-collapse .nav-link .golf-icon svg {
    fill: #000;
  }
  header nav .header-right {
    position: absolute;
    right: 80px;
    top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .header-right .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

header .logo {
  background: url("../images/ncba-golf-series-logo.png") no-repeat;
  width: 81px;
  height: 54px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 81px 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 60px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .logo {
    background-size: 60%;
    height: 34px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header .logo {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

header.header-scroll nav {
  padding: 10px 0 10px 0;
  background-color: rgba(57, 41, 48, 0.9);
  -webkit-box-shadow: 0px 5px 30px #4c5c5b1a;
          box-shadow: 0px 5px 30px #4c5c5b1a;
  /*  .nav-link {
        color: $dark-brown-color !important;
      }
      .search-button {
        i {
          &::before {
            color: $dark-brown-color;
          }
        }
      } */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header.header-scroll nav {
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header.header-scroll nav {
    padding: 10px 0 10px 0;
  }
}

.icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 16px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    right: 42px;
  }
}

.navbar-toggler:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* search */
#search-overlay {
  display: none;
}

#search-overlay.search-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  z-index: 1032;
}

#search-overlay .search-block-centered {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #search-overlay .search-block-centered {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #search-overlay .search-block-centered {
    width: 90%;
  }
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}

#search-box #close-btn {
  position: fixed;
  top: 40px;
  right: 40px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search-box #close-btn i::before {
  font-size: 20px;
  font-size: 1.25rem;
}

#search-box #close-btn:hover {
  background: #fff;
  color: #3ab3e5;
}

#search-box .search-form {
  height: 80px;
  border: 2px solid #fff;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

#search-box .search-form .form-control {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
  height: 80px;
  /* Landscape phones and down */
}

#search-box .search-form .form-control.placeholder {
  color: #fff;
}

#search-box .search-form .form-control:-moz-placeholder {
  color: #fff;
}

#search-box .search-form .form-control::-moz-placeholder {
  color: #fff;
}

#search-box .search-form .form-control:-ms-input-placeholder {
  color: #fff;
}

#search-box .search-form .form-control::-webkit-input-placeholder {
  color: #fff;
}

@media (max-width: 767px) {
  #search-box .search-form .form-control {
    font-size: 15px;
    font-size: 0.9375rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 30px;
  }
}

#search-box .search-form .search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #search-box .search-form .search-btn {
    top: 100px;
    left: 0;
    right: initial;
    width: 100%;
  }
}

/* sweap button */
.sweep-btn-right, .sweep-btn-left, .sweep-btn-center, .sweep-btn-brown, .sweep-btn-white, .sweep-btn-yellow, .sweep-btn-black {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #3ab3e5;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 50px;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .sweep-btn-right, .sweep-btn-left, .sweep-btn-center, .sweep-btn-brown, .sweep-btn-white, .sweep-btn-yellow, .sweep-btn-black {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .sweep-btn-right, .sweep-btn-left, .sweep-btn-center, .sweep-btn-brown, .sweep-btn-white, .sweep-btn-yellow, .sweep-btn-black {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}

.sweep-btn-right:before, .sweep-btn-left:before, .sweep-btn-center:before, .sweep-btn-brown:before, .sweep-btn-white:before, .sweep-btn-yellow:before, .sweep-btn-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #392030;
  color: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sweep-btn-right:hover, .sweep-btn-left:hover, .sweep-btn-center:hover, .sweep-btn-brown:hover, .sweep-btn-white:hover, .sweep-btn-yellow:hover, .sweep-btn-black:hover {
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.sweep-btn-right:hover:before, .sweep-btn-left:hover:before, .sweep-btn-center:hover:before, .sweep-btn-brown:hover:before, .sweep-btn-white:hover:before, .sweep-btn-yellow:hover:before, .sweep-btn-black:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #fff;
}

.sweep-btn-right:before {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.sweep-btn-left:before {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.sweep-btn-center:before, .sweep-btn-brown:before, .sweep-btn-white:before, .sweep-btn-yellow:before, .sweep-btn-black:before {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.sweep-btn-brown {
  background: #392a26;
}

.sweep-btn-brown:before {
  background: #3ab3e5;
}

.sweep-btn-white {
  background: #fff;
  color: #392a26;
  font-family: "avertabold";
}

.sweep-btn-white:before {
  background: #3ab3e5;
}

.sweep-btn-yellow {
  background: #f9e200;
  color: #392030;
  font-family: "avertabold";
}

.sweep-btn-yellow:before {
  background: #392030;
}

.sweep-btn-black {
  background: #000;
  color: #fff;
  font-family: "avertabold";
}

.sweep-btn-black:before {
  background: #3ab3e5;
}

/* read more button */
.button-wrap .button__cta {
  display: inline-block;
  color: #3ab3e5;
  position: relative;
}

.button-wrap .button__cta .anchor__inner {
  display: inline-block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  font-size: 15px;
}

.button-wrap .button__cta .ui-line {
  height: 1px;
  width: 0;
  background: #f9e200;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-wrap .button__cta .button-text {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-wrap .button__cta:hover:after {
  position: absolute;
  content: "";
  border-right: 2px solid #f9e200;
  border-top: 2px solid #f9e200;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  right: -28px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-wrap .button__cta:hover:before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  right: -42px;
  border-radius: 100%;
  border: 2px solid #f9e200;
  top: -5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-wrap .button__cta:hover .ui-line {
  opacity: 1;
  width: 20px;
}

.button-wrap .button__cta:hover .button-text {
  margin-right: 30px;
  color: #f9e200;
}

.form-control {
  border: 0;
  font-size: 15px;
  height: 50px;
  letter-spacing: 1px;
  color: #000;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  border: 2px solid transparent;
}

.form-control:focus {
  border: 2px solid #392a26;
  -webkit-box-shadow: 0 1px 5px 0 rgba(249, 226, 0, 0.8);
          box-shadow: 0 1px 5px 0 rgba(249, 226, 0, 0.8);
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  outline: none;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 100%;
  color: #666;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.nice-select:before {
  width: 20px;
  height: 20px;
  content: "";
  right: 12px;
  top: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #3ab3e5;
  position: absolute;
  right: 15px;
  top: 13px;
}

.nice-select:after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 23px;
  top: 23px;
  -webkit-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nice-select:hover:before {
  background: #392030;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select .list {
  background-color: #fff;
  -webkit-box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: -6px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* height: 100px; */
  overflow: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-overflow-scrolling: touch;
  /* transform: scale(0.75) translateY(-$input_height / 2); */
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  line-height: 35px;
  list-style: none;
  min-height: 35px;
  outline: none;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #666;
  text-align: left;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  color: #3ab3e5;
}

.nice-select .option.selected {
  font-weight: bold;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.view-gallery-button {
  background: rgba(58, 179, 229, 0.2);
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-gallery-button .arrow-icon {
  position: relative;
  top: -1px;
  color: #392a26;
  stroke: #392a26;
  width: 150px;
  height: 150px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.view-gallery-button .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset 0.6s ease;
  transition: stroke-dashoffset 0.6s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.view-gallery-button .btn-text {
  color: #392a26;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "avertabold";
}

.view-gallery-button:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #392a26;
}

.view-gallery-button:hover .btn-text {
  color: #fff;
}

.view-gallery-button:hover .arrow-icon {
  -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0);
  stroke: #fff;
}

.view-gallery-button:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.readmore--link {
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
}

.readmore--link .arrow-icon {
  position: relative;
  top: -1px;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
}

.readmore--link .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset 0.6s ease;
  transition: stroke-dashoffset 0.6s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.readmore--link:hover {
  color: #3ab3e5;
}

.readmore--link:hover .arrow-icon {
  -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0);
}

.readmore--link:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.readmore--link .arrow-icon {
  stroke: #3ab3e5;
  width: 30px;
  height: 30px;
}

body {
  font-family: "avertaregular";
}

h1,
h2,
h3 {
  font-family: "avertaregular";
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 105px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  section {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  section {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 70px;
    margin-left: 0;
  }
}

section h2 {
  font-size: 40px;
  font-size: 2.5rem;
  color: #3ab3e5;
  font-family: "avertabold";
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

section p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
  color: #392a26;
}

.white-color-text {
  color: #fff;
}

.black-color-text {
  color: #000;
}

.brand-color-text {
  color: #3ab3e5;
}

.bold-text {
  font-family: "avertabold";
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.blue-wrap {
  background: #f3f7fd;
}

.dark-blue-wrap {
  background: #3ab3e5;
}

.blue-wrap-padding {
  padding-top: 80px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .blue-wrap-padding {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

.grey-wrap {
  background: #f5f5f5;
}

.grey-wrap-padding {
  padding-top: 80px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .grey-wrap-padding {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

.nomargin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.nopadding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.card {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.custom-dropdown-list {
  position: relative;
}

.custom-dropdown-list::before {
  content: "\f3ca";
  font-family: "bootstrap-icons";
  position: absolute;
  font-size: 24px;
  font-size: 1.5rem;
  top: 5px;
  left: 14px;
  z-index: 11;
}

.custom-dropdown-list .nice-select {
  text-align: center !important;
}

.back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.back-btn span {
  font-size: 18px;
  font-size: 1.125rem;
  color: #392a26;
}

.back-btn i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-btn i::before {
  color: #392a26;
  font-size: 40px;
  font-size: 2.5rem;
}

.back-btn:hover {
  background: #dedede;
}

.back-btn:hover i {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/*# sourceMappingURL=style-en.css.map */