header {
  nav {
    &.navbar {
      width: 100%;
      background: none;
      @include padding(20px, 0, 20px, 0);
      @include transition;

      @include breakpoint(sm) {
        @include padding(20px, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include padding(20px, 0, 20px, 0);
      }
    }

    .navbar-nav {
      @include flex-center-vert;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
      .nav-link {
        @include font-size(14px);
        text-transform: capitalize;
        color: $white-color !important;
        padding: 10px 0 10px 0 !important;
        position: relative;
        @include margin(0, 30px, 0, 0);
        position: relative;
        @include transition;
        @include flex-center-vert;

        @include breakpoint(lp) {
          @include font-size(14px);
        }
        @include breakpoint(sm) {
          @include font-size(16px);
        }
        @include breakpoint(md) {
          @include font-size(16px);
        }
        &::before {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background: $brand-color;
          @include transition;
          content: "";
        }
        i {
          @include margin(3px, 10px, 0, 0);
          &::before {
            @include font-size(14px);
          }
        }
        .golf-icon {
          width: 16px;
          @include margin(-5px, 10px, 0, 0);
          svg {
            fill: $white-color;
          }
        }
        &:hover {
          color: $brand-color !important;
          &::before {
            width: 45px;
          }
          .golf-icon {
            svg {
              fill: $brand-color;
            }
          }
        }
        &.active {
          color: $brand-color !important;
          &::before {
            width: 45px;
          }
          .golf-icon {
            svg {
              fill: $brand-color;
            }
          }
        }
      }
      .back-btn-header {
        @include flex-center-horiz;
        text-transform: capitalize;
        @include margin(0, 0, 0, 0);
        @include font-size(13px);
        color: $white-color;
        @include breakpoint(lp) {
          @include font-size(12px);
        }
        i {
          @include margin(0, 10px, 0, 0);
          @include breakpoint(sm) {
            @include margin(6px, 10px, 0, 0);
          }
          @include breakpoint(md) {
            @include margin(6px, 10px, 0, 0);
          }
          &::before {
            @include font-size(16px);
          }
        }
        p {
          @include margin(0, 0, 0, 0);
          @include breakpoint(sm) {
            display: none;
          }
          @include breakpoint(md) {
            display: none;
          }
        }

        &:hover {
          color: $brand-color;
          i {
            &::before {
              color: $brand-color;
            }
          }
        }
      }
      .search-button {
        @include margin(0, 10px, 0, 0);
        display: inline-block;
        @include flex-center;
        width: 35px;
        height: 35px;
        @include border-radius(50%);
        i {
          &::before {
            color: $white-color;
            @include font-size(14px);
          }
        }
        &:hover {
          background: rgba($white-color, 0.3);
          i {
            &::before {
              color: $brand-second-color;
            }
          }
        }
      }
    }
    @include breakpoint(sm) {
      .navbar-collapse {
        background: $white-color;
        @include padding(30px, 30px, 0, 30px);
        @include border-radius(5px);
        position: relative;
        margin-top: 10px;
        &:before {
          bottom: 100%;
          right: 5%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 8px;
          margin-left: -8px;
        }
        .nav-link {
          @include margin(0, 0, 10px, 0);
          color: $black-color !important;
          .golf-icon {
            svg {
              fill: $black-color;
            }
          }
        }
      }
      .header-right {
        position: absolute;
        right: 80px;
        top: 9px;
        display: flex;
        flex-direction: row;
        .nav-link {
          @include margin(0, 0, 0, 20px);
          @include font-size(14px);
        }
      }
    }
    @include breakpoint(md) {
      .navbar-collapse {
        background: $white-color;
        @include padding(30px, 30px, 0, 30px);
        @include border-radius(5px);
        position: relative;
        margin-top: 10px;
        &:before {
          bottom: 100%;
          right: 5%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 8px;
          margin-left: -8px;
        }
        .nav-link {
          @include margin(0, 0, 10px, 0);
          color: $black-color !important;
          .golf-icon {
            svg {
              fill: $black-color;
            }
          }
        }
      }
      .header-right {
        position: absolute;
        right: 80px;
        top: 9px;
        display: flex;
        flex-direction: row;
        .nav-link {
          @include margin(0, 0, 0, 20px);
          @include font-size(14px);
        }
      }
    }
  }

  .logo {
    background: url("../images/ncba-golf-series-logo.png") no-repeat;
    width: 81px;
    height: 54px;
    display: inline-flex;
    background-size: 81px 54px;
    align-items: center;
    white-space: nowrap;
    @include padding(0, 0, 0, 0);
    @include transition;
    @include margin(0, 60px, 0, 0);

    @include breakpoint(sm) {
      background-size: 60%;
      height: 34px;
      @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
    }
  }

  &.header-scroll {
    nav {
      padding: 10px 0 10px 0;
      background-color: rgba(#392930, 0.9);
      box-shadow: 0px 5px 30px #4c5c5b1a;
      /*  .nav-link {
        color: $dark-brown-color !important;
      }
      .search-button {
        i {
          &::before {
            color: $dark-brown-color;
          }
        }
      } */
      @include breakpoint(sm) {
        padding: 10px 0 10px 0;
      }
      @include breakpoint(md) {
        padding: 10px 0 10px 0;
      }
    }
  }
}
.icon-bar {
  width: 26px;
  height: 3px;
  @include border-radius(50px);
  background-color: $white-color;
  display: block;
  @include transition;
  margin-top: 4px;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 16px;
  @include padding(0, 0, 0, 0);

  @include breakpoint(md) {
    right: 42px;
  }
  &:focus {
    background: none;
    box-shadow: none;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

/* search */
#search-overlay {
  display: none;
  &.search-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    z-index: 1032;
  }
  .search-block-centered {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    @include flex-center;

    @include breakpoint(sm) {
      width: 90%;
    }
    @include breakpoint(md) {
      width: 90%;
    }
  }
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
  #close-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    color: $white-color;
    border: 2px solid $white-color;
    @include transition();
    @include border-radius(50px);
    width: 45px;
    height: 45px;
    line-height: 45px;
    @include flex-center;
    i {
      &::before {
        @include font-size(20px);
      }
    }

    &:hover {
      background: $white-color;
      color: $brand-color;
    }
  }
  .search-form {
    height: 80px;
    border: 2px solid $white-color;
    overflow: hidden;
    @include border-radius(50px);
    .form-control {
      background: none;
      border: 0;
      box-shadow: none;
      color: $white-color;
      @include font-size(20px);
      @include padding(0, 0, 0, 50px);
      height: 80px;
      @include input-placeholder {
        color: $white-color;
      }

      @include breakpoint(sm) {
        @include font-size(15px);
        @include padding(0, 0, 0, 30px);
      }
    }
    .search-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      @include border-radius(50px);
      @include padding(20px, 50px, 20px, 50px);

      @include breakpoint(sm) {
        top: 100px;
        left: 0;
        right: initial;
        width: 100%;
      }
    }
  }
}
