/* sweap button */
%sweep-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: $brand-color;
  color: $white-color;
  @include border-radius(5px);
  overflow: hidden;
  z-index: 0;
  @include padding(15px, 50px, 15px, 50px);
  @include font-size(13px);
  letter-spacing: 1px;
  text-transform: uppercase;

  @include breakpoint(lp) {
    @include padding(15px, 20px, 15px, 20px);
  }
  @include breakpoint(sm) {
    @include padding(15px, 20px, 15px, 20px);
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-grey-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition();
  }
  &:hover {
    color: $white-color;
    @include button-hover();
  }
  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.sweep-btn-right {
  @extend %sweep-btn;
  &:before {
    transform-origin: 0 50%;
  }
}
.sweep-btn-left {
  @extend %sweep-btn;
  &:before {
    transform-origin: 100% 50%;
  }
}
.sweep-btn-center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

.sweep-btn-brown {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $dark-brown-color;
  &:before {
    background: $brand-color;
  }
}

.sweep-btn-white {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $white-color;
  color: $dark-brown-color;
  font-family: $font-secondary-en;
  &:before {
    background: $brand-color;
  }
}

.sweep-btn-yellow {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $brand-second-color;
  color: $dark-grey-color;
  font-family: $font-secondary-en;

  &:before {
    background: $dark-grey-color;
  }
}

.sweep-btn-black {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $black-color;
  color: $white-color;
  font-family: $font-secondary-en;
  &:before {
    background: $brand-color;
  }
}

@mixin anchor__inner {
  &:after {
    position: absolute;
    content: "";
    border-right: 2px solid $brand-second-color;
    border-top: 2px solid $brand-second-color;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 8px;
    right: -28px;
    @include transition();
  }
  &:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    right: -42px;
    border-radius: 100%;
    border: 2px solid $brand-second-color;
    top: -5px;
    @include transition();
  }
  .ui-line {
    opacity: 1;
    width: 20px;
  }
  .button-text {
    margin-right: 30px;
    color: $brand-second-color;
  }
}

/* read more button */
.button-wrap {
  .button__cta {
    display: inline-block;
    color: $brand-color;
    position: relative;
    .anchor__inner {
      display: inline-block;
      position: relative;
      width: fit-content;
      text-align: right;
      font-size: 15px;
    }
    .ui-line {
      height: 1px;
      width: 0;
      background: $brand-second-color;
      display: inline-block;
      position: absolute;
      top: 13px;
      right: 3px;
      opacity: 0;
      @include transition();
    }
    .button-text {
      @include transition();
    }
    &:hover {
      @include anchor__inner;
    }
  }
}

.form-control {
  border: 0;
  font-size: 15px;
  height: 50px;
  letter-spacing: 1px;
  color: $black-color;
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.1) !important;
  border: 2px solid transparent;
  &:focus {
    border: 2px solid $dark-brown-color;
    box-shadow: 0 1px 5px 0 rgba($brand-second-color, 0.8);
  }
}

// custom select list dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $white-color;
  @include border-radius(5px);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  outline: none;
  @include padding(0, 20px, 0, 20px);
  position: relative;
  text-align: left !important;
  @include transition();
  user-select: none;
  white-space: nowrap;
  width: 100%;
  color: $dark-grey-color-shade;
  @include my-shadow;

  &:before {
    width: 20px;
    height: 20px;
    content: "";
    right: 12px;
    top: 50%;
    @include border-radius(50%);
    background: $brand-color;
    position: absolute;
    right: 15px;
    top: 13px;
  }

  // Arrow
  &:after {
    border-bottom: 2px solid $white-color;
    border-right: 2px solid $white-color;
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 23px;
    top: 23px;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    @include transition();
  }

  &:hover {
    &:before {
      background: $dark-grey-color;
    }
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }

  // List and options
  .list {
    background-color: $white-color;
    box-shadow: 0 8px 5px 0 rgba($black-color, 0.1);
    @include border-radius(5px);
    margin-top: -6px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
    overflow-y: auto;
    transform-origin: 50% 0;
    -webkit-overflow-scrolling: touch;
    /* transform: scale(0.75) translateY(-$input_height / 2); */
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    @include padding(20px, 0, 10px, 0);
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: 35px;
    list-style: none;
    min-height: 35px;
    outline: none;
    @include padding(0, 20px, 0, 20px);
    @include transition();
    color: $dark-grey-color-shade;
    text-align: left;
    &:hover,
    &.focus,
    &.selected.focus {
      color: $brand-color;
    }
    &.selected {
      font-weight: bold;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}

.view-gallery-button {
  background: rgba($brand-color, 0.2);
  height: 350px;
  flex-direction: column;
  @include transition;
  @include flex-center;
  .arrow-icon {
    position: relative;
    top: -1px;
    color: $dark-brown-color;
    stroke: $dark-brown-color;
    width: 150px;
    height: 150px;
    @include margin(0, 0, 20px, 0);
    @include transition();
  }
  .arrow-icon--circle {
    transition: stroke-dashoffset 0.6s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }
  .btn-text {
    color: $dark-brown-color;
    @include font-size(24px);
    font-family: $font-secondary-en;
  }
  &:hover {
    @include card-hover-shadow;
    @include transform(translateY(-5px));
    background: $dark-brown-color;
    .btn-text {
      color: $white-color;
    }
    .arrow-icon {
      transform: translate3d(15px, 0, 0);
      stroke: $white-color;
    }
    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
}

.readmore--link {
  display: inline-block;
  @include font-size(13px);
  .arrow-icon {
    position: relative;
    top: -1px;
    color: #000;
    @include transition();
    vertical-align: middle;
  }
  .arrow-icon--circle {
    transition: stroke-dashoffset 0.6s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }
  &:hover {
    color: $brand-color;
    .arrow-icon {
      transform: translate3d(15px, 0, 0);
    }
    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
  .arrow-icon {
    stroke: $brand-color;
    width: 30px;
    height: 30px;
  }
}
